<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Doreenbeads/de-newsletter</title>
</head>
<body style="margin:0;padding:0;">
<table width="664" cellspacing="0" cellpadding="0" style="border:2px solid #FA5FDE;margin:0 auto;background:#fff;">
<tr>
<td>
<!--top_info_start-->
<table width="100%" cellspacing="0" cellpadding="0">
<tr>
<td height="30" style="background:#EEEEEE;border:0px solid #000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;color:#757575;font-weight:bold; text-align:right;">Wenn der Newsletter nicht richtig angezeigt wird<a href="https://img1.doreenbeads.com/promotion_photo/de/edm/20170725/db0725.html" style="color:#A766AD;text-decoration:none;">[hier klicken]</a></td>
</tr> 
</table>
<!--top_info_end--> 

<!--logo_start-->
<table width="100%" cellspacing="0" cellpadding="0" style="padding:10px 10px 0px 10px;">
<tr height="50">
<td width="143" rowspan="2" align="center"><a href="https://www.doreenbeads.com/de/"><img src="http://www.doreenbeads.com/promotion_photo/en/images/20150129/logo.jpg" border="0" alt="DoreenBeads" style="display:block;border:0;color:#B67DB0; margin-left:10px; margin-bottom:0;"></a></td>
<td rowspan="2" width="20">&nbsp;</td>
<td align="center" height="30" valign="bottom" width="160">&nbsp;</td>
<td align="center" height="30" valign="bottom" width="100">&nbsp;</td>
<td rowspan="2" width="10">&nbsp;</td>
<td align="right" style="padding-right:0px;" rowspan="2"><a href="http://www.doreenbeads.com/de/page.html?id=159"><img src="http://img1.doreenbeads.com/promotion_photo/de/edm/20151208/Facebook.jpg" border="0" style="padding:6px 0"></a></td>
</tr>
<tr>
<td align="right" style="position: relative;top: 0px;"><a href="https://m.doreenbeads.com/de/"><img style="border:0px solid #fff; margin-top:10px;" width="25" src="http://img.doreenbeads.com/promotion_photo/de/edm/20151208/phone.jpg"></a>&nbsp;</td>
<td align="left"><a href="https://www.facebook.com/DoreenBeadsDE-752553968196557/"><img border="0" height="25" src="http://www.8seasons.com/images/newsletter/english/facebook.jpg" style="border:0px solid #fff; margin-top:10px;" width="25"></a>&nbsp;</td>
</tr>
</table>
<!--logo_end--> 


<!--nav_start-->
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-top:1px solid #a766ad;border-bottom:1px solid #a766ad;background-color:#a766ad;">
<tr>
<td><table cellpadding="0" cellspacing="0" border="0">
<tr height="28">
<td width="10" style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#FFFFFF;font-weight:bold;padding:0px 5px;">&nbsp;</td>
<td style="font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF;font-weight:bold;padding:0px 5px;"><a href="http://www.doreenbeads.com/de/jewelry-supplies-beads-c-1729_1730.html" style="color:#FFFFFF;text-decoration:none;">Perlen</a></td>
<td style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#FFFFFF;font-weight:bold;padding:0px 5px;">•</td>
<td style="font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF;font-weight:bold;padding:0px 5px;"><a href="http://www.doreenbeads.com/de/jewelry-supplies-pendants-c-1729_1831.html" style="color:#FFFFFF;text-decoration:none;">Anhänger</a></td>
<td style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#FFFFFF;font-weight:bold;padding:0px 5px;">•</td>
<td style="font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF;font-weight:bold;padding:0px 5px;"><a href="https://www.doreenbeads.com/de/stainless-steel-jewelry-c-2920.html" style="color:#FFFFFF;text-decoration:none;">Edelstahl</a></td>

<td style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#FFFFFF;font-weight:bold;padding:0px 5px;">•</td>
<td style="font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF;font-weight:bold;padding:0px 5px;"><a href="http://www.doreenbeads.com/de/jewelry-supplies-cabochons-cameos-c-1729_1762.html" style="color:#FFFFFF;text-decoration:none;">Cabochons</a></td>
<td style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#FFFFFF;font-weight:bold;padding:0px 5px;">•</td>
<td style="font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF;font-weight:bold;padding:0px 5px;"><a href="http://www.doreenbeads.com/de/buttons-c-1909_1920.html" style="color:#FFFFFF;text-decoration:none;">Knöpfe</a></td>
<td style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#FFFFFF;font-weight:bold;padding:0px 5px;">•</td>
<td style="font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF;font-weight:bold;padding:0px 5px;"><a href="http://www.doreenbeads.com/de/findings-c-1729_1791.html" style="color:#FFFFFF;text-decoration:none;">Schmuckzubehöre</a></td>
<td style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#FFFFFF;font-weight:bold;padding:0px 5px;">•</td>
<td style="font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF;font-weight:bold;padding:0px 5px;"><a href="https://www.doreenbeads.com/de/index.php?main_page=promotion_display_area" style="color:#FFFFFF;text-decoration:none;">Sale</a></td>
</tr>
</table></td>
</tr>
</table>

			<!--banner_start-->
			<table width="100%" cellpadding="0" cellspacing="0" style="padding-top:2px;">
				{if $banner1}
				<!-- banner1 -->
				<tr><td width="660" style="border:0px solid:#CCCCCC;" >
					{if $banner1.picHref}<a href="{$banner1.picHref}" style="outline:none;">{/if}
					<img src="{$banner1.picSrc}" alt="{$banner1.picAlt}" width="660" border="0" />
					{if $banner1.picHref}</a>{/if}
				</td></tr>
				{/if}
				{if $bigPic}
				<!-- big pic -->
				<tr><td width="660" style="border:0px solid:#CCCCCC;" >
					{if $bigPic.picHref}<a href="{$bigPic.picHref}" style="outline:none;">{/if}
					<img src="{$bigPic.picSrc}" alt="{$bigPic.picAlt}" width="660" border="0" />
					{if $bigPic.picHref}</a>{/if}
				</td></tr>
				{/if}
			</table>
			<!--banner_end--> 

			<!--letter_info_start-->
			<table width="100%" cellspacing="0" cellpadding="0" style="padding:5px 10px 0px 10px;">
				<tr align="center">
					<td style="line-height:18px;font-family:Tahoma;font-size:15px;padding:5px 0px;">Lieber *|TITLE:FNAME|* *|TITLE:LNAME|* ,</td>
				</tr>
				<tr align="center">
					<td  style="line-height:22px;font-family:Tahoma;font-size:15px;padding:5px 0px;">Wir sind zurück aus den Ferien. Jetzt ist bei DoreenBeads alles in Ordnung. 
Wir werden so schnell wie möglich Ihre E-Mails beantworten und Ihre Bestellungen bearbeiten. <br />Sie können jetzt Ihre Bestellung wie gewöhnlich aufgeben.</td>
				</tr>
				<tr align="center">
					<td  style="line-height:22px;font-family:Tahoma;font-size:15px;padding:5px 0px;"><a href="http://www.doreenbeads.com/de/index.php?main_page=promotion&off=55" Style="color:#FF4A4A;font-weight:bold;text-decoration:underline;">Neu & Hot Artikel 21% Rabatt</a> - Nur bis Morgen!</td>
				</tr>
				<tr align="center">
					<td  style="line-height:22px;font-family:Tahoma;font-size:15px;padding:5px 0px;">Viel Spaß & Mehr sparen</td>
				</tr>
				
				<tr align="center">
					<td height="auto" width="660" align="center" style="padding:10px 0px;font-family:Tahoma;font-size:15px;">Mit freundlichen Grüßen<br />DoreenBeads Team</td>
				</tr>
			</table>
			<!--letter_info_end--> 

			<!--neue_artikel_start-->
			{if $sheetData}{foreach from=$sheetData item=data}
				{if $data.title}
			<table height="26" width="660" cellspacing="0" cellpadding="0" style="border:1px solid #B93DD8;background:#B93DD8;">
				<tr>
					<td height="28" align="center">{if $data.title.href}<a href="{$data.title.href}" style="font-size:22px;color:#FFFFFF;font-family:Book Antiqua;font-weight:bold;text-decoration:none;font-weight:bold;">{/if}{$data.title.title}{if $data.title.href}</a>{/if}</td>
				</tr>
			</table>
				{/if}
			<table width="100%" align="center" cellpadding="0" cellspacing="6" style="margin:0 auto;padding-top:5px;padding-bottom:10px;">
				<tr>
				{foreach from=$data.content key=k item=cont}
					<td width="25%" height="170" align="center" style="font-family:Arial,Helvetica,sans-serif;font-size:14px;border:1px solid #CCCCCC;">
						<a href="{$cont.picHref}" style="outline:none;"><img src="{$cont.picSrc}" alt="{$cont.picAlt}" width="140" height="125"></a>
						{if $cont.titleName}<br>{if $cont.titleHref}<a href="{$cont.titleHref}" style="color: #333333;text-decoration:none;">{/if}{$cont.titleName}{if $cont.titleHref}</a>{/if}{/if}
						{if $cont.oldPrice}<br><span style="font-size:14px;color:#999;text-decoration:line-through;font-family:Cambria;">{$cont.oldPrice}</span>{/if}
						{if $cont.CurrPrice}<br><span style="color:#FD2904;font-size:14px;font-family:Cambria;font-weight:bold;">{$cont.CurrPrice}</span>{/if}
					</td>
				{if $k%4==3}</tr><tr>{/if} {* 3/7... *}
				{/foreach}
				</tr>
			</table>
			{/foreach}{/if}
			<!--neue_artikel_end-->

			{if $banner2}
			<table width="100%" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
				<tr>
					<td style="padding-bottom:10px;">{if $banner2.picHref}<a href="{$banner2.picHref}">{/if}<img src="{$banner2.picSrc}" alt="{$banner2.picAlt}"/>{if $banner2.picHref}</a>{/if}</td>
				</tr>
			</table>
			{/if}

				<!--company_info_start-->
			<table width="100%" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
				<tr>
					<td align="center" style="padding-top:25px;padding-bottom:10px;">
						<table width="622" cellspacing="0" cellpadding="0" align="center" style="padding:5px;margin:0 auto;border:1px solid #DDDDDD;">
							<tr>
								<td style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:13px;line-height:16px;text-align:center;color: #505050;"> Sie empfangen diese Newsletter, weil Sie sich bei Newsletter von Doreenbeads anmeldeten. <br/>
								<a href="https://doreenbeads.us1.list-manage.com/unsubscribe?u=93b3b08530509a43c973fa2bb&id=6862e2fa77" target="_blank" style="color:#50B155;text-decoration:none;">Newsletter abbestellen</a></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center" style="padding-bottom:10px;"><table width="622" cellspacing="0" cellpadding="0" align="center" style="padding:5px;margin:0 auto;border:1px solid #DDDDDD;">
						<tr>
							<td width="350" style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size:13px;line-height:16px;text-align:left;color: #505050;vertical-align:top;padding-bottom:5px;"><b>Impressum:</b> 718 South Chengdian Road <br /><span style="padding-left:90px;"> Yiwu, Zhejiang P.R.C.</span> <br /><span style="padding-left:90px;"> Zip Code: 322000</span><br>
							<td width="260" style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size:13px;line-height:16px;text-align:left;color: #505050;vertical-align:top;padding-bottom:5px;">
								<b>Tel:</b> (+86)579-85335690&nbsp;&nbsp;&nbsp;<br/><b>Fax:</b> (+86)579-85261619 &nbsp;&nbsp;&nbsp; <br/><b>Email:</b> <a href="mailto:service_de@doreenbeads.com" style="text-decoration:none;color:#A766AD;">service_de@doreenbeads.com</a>
							</td>
						</tr>
					</table></td>
				</tr>
			</table>
			<!--company_info_end-->

			<!--all_info_end-->
		</td>
	</tr>
</table>
</body>
</html>