<div id="min_hd">
	 <div class="logo fleft">
        <a href="{$smarty.const.HTTP_SERVER}"><img src="includes/templates/cherry_zen/images/{$smarty.session.language}/logo1.png"></a>
        <p class="font14"><a href="{$smarty.const.HTTP_SERVER}/page.html?id=159">{$smarty.const.TEXT_LOGO_TITLE}</a></p>
     </div>
    <div class="step" >
    	<ul>
        	<li class="{$style_step1}">{$smarty.const.TEXT_CHECKOUT_STEP1}</li>
            <li class="{$style_step2}">{$smarty.const.TEXT_CHECKOUT_STEP2}</li> 
            <li class="{$style_step3}">{$smarty.const.TEXT_CHECKOUT_STEP3}</li>
            <li class="{$style_step4}">{$smarty.const.TEXT_CHECKOUT_STEP4}</li>
        </ul>
    </div>
   
   
<!--     <div class="livechat"><a href="javascript:void(0);" {$open_live_chat_url}><img src="includes/templates/cherry_zen/images/{$smarty.session.language}/help.png" /></a></div>
 -->

<div class="consult">
		<a rel="nofollow" href="javascript:void(0);"><img src="includes/templates/cherry_zen/images/{$smarty.session.language}/help.png" /></a>
	</div>

</div>
<div class="min_yellowline"></div>
