@CHARSET "UTF-8";
/***********
*********购物车主体
******************************************************/
.min_main{ width:1000px; margin:0 auto; padding-top:15px;color:#333;}
.min_main .carttopbtn { padding-bottom:10px;height:auto;overflow:hidden;}
.min_main .cartftbtn { padding:15px 0 45px; text-align:right;}
.min_main .cartftbtn a{ margin:0 30px; line-height:40px;font-size:14px;color:#008fed;}
.min_main .carttopbtn a:hover{text-decoration:none;}
.min_main .carttopbtn a.continue_shop,.greybtn{border: 1px solid #D3D3D3;border-radius: 4px 4px 4px 4px;display: inline-block;float: left; padding:0px 10px;}
.greybtn{float:none;}
.min_main .carttopbtn a.continue_shop span,.greybtn span{ background: -moz-linear-gradient(center top , #F6F6F6, #EFEFEF) repeat scroll 0 0 transparent;border: 1px solid #FBFBFA;border-radius: 3px 3px 3px 3px;color: #333333;display: inline-block;font-size: 14px;line-height: 26px;text-align: center;text-shadow: 1px 1px 0 #FFFFFF;width: 156px;}
.min_main .carttopbtn a.continue_shop ins{background: url("../images/icon_shopcartbg.png") repeat scroll -50px -104px transparent;display: inline-block;height: 20px;margin-right: 5px; position: relative;top: 4px;width: 20px;}
.min_main .carttopbtn a.checkout{display:inline-block;border-radius:4px;border:1px solid #974baf;float:right;}
.min_main .carttopbtn a.checkout span{display:inline-block;width:156px;line-height:32px;border-radius:3px;font-size:18px;background:#bc66d8;background:-moz-linear-gradient(top,#c26ede,#b260cd);background:-webkit-linear-gradient(top,#c26ede,#b260cd);filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#c26ede,endColorStr=#b260cd);border:1px solid #d184ea;color:#fefefe;font-weight:bold;text-align:center;text-shadow:1px 1px 0 #8f4da5;}
.min_main .carttopbtn a.checkout ins{display:inline-block;width:20px;height:20px;background:url(../images/icon_shopcartbg.png) 0 -104px;position:relative;top:4px;margin-left:10px;}

.min_main .carttopbtn .mtop{margin-top:20px;}
.captioncont.mbot{margin-bottom:55px;}
.caption_shopgray{ height:30px; background:#e6e6e6;background:-moz-linear-gradient(top,#eeeeee,#dedede);background:-webkit-linear-gradient(top,#eeeeee,#dedede);filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#eeeeee,endColorStr=#dedede);color:#333; padding:0 10px;border:1px solid #ccc;line-height:30px;}
.caption_shopgray h3{font-size:14px;text-shadow:1px 1px 0 #fff; line-height:30px;color:#333;}
.caption_shopgray.mtop{margin-top:75px;}
.caption_shopgray.payshop{border:1px solid #dbdbdb;}
.caption_recent{background:#f5f5f5;height:34px;border-top:2px solid #a53dc7;line-height:34px;padding-left:10px;}

.min_main .caption_shopgray h3{ font-size:14px;text-shadow:1px 1px 0 #fff; line-height:30px; float:left;color:#333;}
.min_main .caption_shopgray p{float:right;line-height:30px;background:url(../images/btnbg_detail.gif) 0 -448px no-repeat;padding-left:10px;}
.min_main .caption_shopgray p label{color:#F20101;}
.min_main .caption_shopgray .level li.current{padding:0 8px;background:#b962d5;border:1px solid #974baf;border-radius:3px;color:#fff;font-weight:bold;font-size:12px;line-height:20px;margin:4px 0 0 10px;}
.min_main .caption_shopgray .level li.current span{font-size:15px;}
.min_main .caption_shopgray .level{ float:right;}
.min_main .caption_shopgray .level li{ float:right; line-height:30px;display:inline;}
.min_main .caption_shopgray .level li.next_level{color:#949494;background:#f6f6f6;height:22px;line-height:22px;border:1px solid #d3d3d3;border-radius:3px;padding:0 10px;margin-top:3px;color:#989898;}
.min_main .caption_shopgray .level li.schedule{ width:147px; height:22px; overflow:hidden; margin:6px 10px; background:url(../images/bg_schedule.png) top no-repeat; padding-left:6px; color:#555; position:relative;}
.min_main .caption_shopgray .level li.schedule ins{ position:absolute; text-align:center; display:block; line-height:22px; height:22px; width:147px; text-align:center; text-decoration:none;color:#fff;}
.caption_shopgray .level li.schedule span{ display:block;height:22px; background:url(../images/bg_schedule.png) right -23px no-repeat; }


.min_main .caption_shopgray .level li.schedule_null{ width:124px; height:22px; overflow:hidden; margin:6px 10px; background:url(../images/bg_schedule.png) 0 -47px no-repeat; padding-left:6px; color:#666; position:relative;}
.min_main .caption_shopgray .level li.schedule_null ins{ position:absolute; text-align:center; display:block; line-height:22px; height:22px; width:120px; text-align:center; text-decoration:none;}
.caption_shopgray .level li.schedule_null span{ display:block;height:22px; }


.shopcart_operate{ text-align:right; height:26px; line-height:26px; padding-top:10px;position: relative;}
.shopcart_operate a{ margin:0 10px;color:#008fed;}
.shopcart_content{margin:0 auto;}
.shopcart_content th{background:#e9f3ff;border-bottom:1px solid #d0e4fc;border-top:1px solid #d0e4fc;height:26px;}
.shopcart_content td{border-bottom: 1px solid #EAEAEA;line-height: 20px;padding:10px;position:relative;vertical-align:top;}
.shopcart_content td a.textcolor{color:#008fed;}
.shopcart_content .top_total td{ height:26px; border-bottom:#dfdfdf 1px solid;padding:5px 10px;}
.view_ship_weight{color:#008fed;cursor:pointer;padding-left:10px;}
.shopcart_content td strong{ color:#cb0000; font-size:14px;}
.shopcart_content tr.shownone{display:none;}
.shopcart_content tr.shownone.sh{display:block;}
.shopcart_content td.orderpropage a{border:1px solid #e5e5e5;background:#fff;border-radius:3px;padding:3px 7px;margin:0 2px;color:#b9b9b9;}
.shopcart_content td.orderpropage a.disable{cursor:default;}
.shopcart_content td.orderpropage a.current{background:#ed7602;border:1px solid #c9651a;color:#fff;font-weight:bold;}
.shopcart_content td.orderpropage a.able{background:#f5f5f5;color:#999;}
.shopcart_content td del{ display:block; color:#999;}
.shopcart_content td span.price{ padding-left:48px;}
.shopcart_content td span.num{float:left;display:block;}
.shopcart_content td a.imgborder{dispaly:block;float:left;border:1px solid #eaeaea;width:80px;height:80px;margin:0 5px;position:relative;}
.shopcart_content td .totalimg{position:relative;float:left;margin-left:7px;}
.shopcart_content td div.num{display:block;float:left;width:50px;padding-right:1px;}
.shopcart_content td div.orderimg{width:88px;height:88px;float:left;position:relative;}
.shopcart_content td div.orderimg p a{display:block;width:88px;height:88px;border:1px solid #ebebeb;padding:1px;}
.shopcart_content td div.orderimg p a:hover{border:2px solid #fdb54f;padding:0;}
.shopcart_content .qty_content{position:relative;}
.shopcart_content .update_num{position:relative;}

.shopcart_content td span.totalprice{font-size:14px;color:#cb0000;margin-left:28px;}
.orderlistpage{height:30px;}
.orderdetailpage{border-bottom:1px solid #f1f1f1;margin:0 2px;height:auto;padding:15px 0;height:15px;line-height:15px;}
.orderdetailpage span{float:left;margin-left:10px;}
.orderdetailpage span strong{color:#cb0000;}
.orderdetailpage p.orderpage{float:right;padding-right:10px;line-height:24px;}
.orderlistpage p.orderpage{float:right;line-height:24px;}
.orderdetailpage p.orderpage a,.orderlistpage p.orderpage a{border:1px solid #e5e5e5;border-radius:3px;padding:3px 6px;background:#f5f5f5;color:#999;font-size:12px;}
.orderdetailpage p.orderpage a.current,.orderlistpage p.orderpage a.current{background:#ed7500;border:1px solid #c86618;color:#fff;font-weight:bold;}
.orderdetailpage p.orderpage a.disable,.orderlistpage p.orderpage a.disable{background:#fff;color:#bbbbbb;}
.orderlistpage p.orderpage a.disable.default,.orderdetailpage p.orderpage a.disable.default{cursor:default;}
.total_price.totalcont{margin-bottom: 20px; padding: 20px 0;}
.total_price .quickadd_btn{display:inline-block;border:1px solid #8c58a2;height:30px;line-height:30px;border-radius:3px;}
.total_price .quickadd_btn span{display:inline-block;width:150px;height:28px;line-height:28px;border:1px solid #d17cf1;background:-moz-linear-gradient(top,#c26ede,#b260cd);background:-webkit-linear-gradient(top,#c26ede,#b260cd);filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#c26ede,endColorStr=#b260cd);border-radius:2px;color:#fff;font-weight:bold;font-family:Tahoma, Geneva, sans-serif;text-align:center;font-size:14px;text-shadow:1px 1px 0 #8F4DA5;}
.total_price .quickadd_btn span ins{background: url(../images/icon_shopcartbg.png) repeat scroll 0 -104px transparent;display: inline-block;height: 20px;margin-left: 10px; position: relative;top: 4px; width: 20px;}


.min_main .bgcolor_gray{ background:#f9f9f9;}
.min_main .icon_decrease,.min_main .icon_increase{ display:block; width:14px; height:14px; margin-top:5px; background-image:url(../images/icon_shopcartbg.png); float:left; cursor:pointer;}
.min_main .icon_decrease{margin-left:7px;}
.min_main .icon_decrease{ background-position:-60px 0;}
.min_main .icon_increase{ background-position:-74px 0;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}
input[type="number"] {
    -moz-appearance: textfield !important;
}
.min_main .shopcart_content td input{ width:40px; background:url(../images/btnbg_detail.gif) 0 -352px repeat-x;border: 1px solid #AAA; height:22px; line-height:22px; float:left; color:#333; padding:0 3px; margin:0 5px;}
.min_main .icon_delete{ display:block; width:16px; height:16px; margin:0 8px; background-image:url(../images/icon_shopcartbg.png); float:left;}
.min_main .icon_delete{ background-position:-20px 0;}
.min_main .icon_collect{display:block;width:16px;height:16px;float:left;background:url(../images/icon.png) repeat scroll -128px -154px transparent;}

.min_main .total_price{ border-bottom:#a566ad 2px solid; padding-top:60px;}
.min_main .total_price .left{ width:500px; float:left; background:#f7f7f7; padding:10px 20px; border:#eaeaea 1px solid;}
.greenfont{font-size:14px;color:#13a100;}
.min_main .total_price .left strong ins{font-size:14px;text-decoration:none;}
.min_main .total_price .left strong{font-size:14px;}

.min_main .total_price .left p{ padding:3px 0;}
.min_main .total_price .details_price{ width:450px; float:right; line-height:24px;}
.min_main .total_price .details_price dt{ float:left; width:240px; text-align:right; padding-right:6px;font-size:14px;}
.min_main .total_price .details_price dt span{color:#999;}
.min_main .total_price .details_price dt a{color:#008FED;}
.min_main .total_price .details_price dd{ float:left; width:200px; color:#cb0000;font-size:14px;}
.min_main .total_price .details_price dd span{ padding-right:5px;}
.min_main .total_price .details_price ins{ cursor:pointer;}
.min_main .total_price .details_price dt strong,.min_main .total_price .details_price dd strong{ font-size:18px; line-height:40px;}
.icon_question{display:inline-block; width:16px; height:18px; background:url(../images/icon_shopcartbg.png) 0 -17px no-repeat;}
.image_down_arrow{display:inline-block; width:16px; height:18px; background:url(../images/arrow_orange.png) 2px 2px no-repeat; }
.image_up_arrow{display:inline-block; width:16px; height:18px;  background:url(../images/arrow_orange.png)  2px -16px no-repeat; }
.image_down_arrows{display:inline-block; width:16px; height:18px; background:url(../images/arrow_orange.png) 2px 2px no-repeat; }
.image_up_arrows{display:inline-block; width:16px; height:18px;  background:url(../images/arrow_orange.png)  2px -16px no-repeat; }
.price_sub{ font-size:12px; background:#f7f7f7; padding:5px; border:#eaeaea 1px solid;}
.price_sub td{ text-align:right;}
.price_sub td{ width:80px;}
.price_sub th{ width:240px; text-align:right; color:#333; padding-right:0; font-weight:normal;} 
.price_subs{ font-size:12px; background:#f7f7f7; padding:5px; border:#eaeaea 1px solid;}
.price_subs td{ text-align:right;}
.price_subs td{ width:80px;}
.price_subs th{ width:240px; text-align:right; color:#333; padding-right:0; font-weight:normal;} 
.min_main .icon_count{display:inline-block; width:16px; height:17px; margin:0 5px; background:url(../images/icon_shopcart.png) -40px 2px no-repeat;}

.min_main .cart_empty { padding:50px 30px; line-height:30px;min-height:140px; height:auto !important; height:180px; overflow:visible;}
.min_main .cart_empty .icon_cartempty{ background:url(../images/icon_shopcart_big.png) no-repeat; width:130px; height:115px;float:left;margin:0 8px 0 190px;}
.min_main .cart_empty p{ float:left;font-size:18px; color:#333; padding-top:5px;width:470px;}
.min_main .cart_empty a{ display:inline-block;font-weight:bold; font-size:14px;background:#ed4284;border:1px solid #cf316c;color:#fff;padding:0 40px;height:26px;line-height:26px;border-radius:3px;margin-left:140px;margin-top:25px;}
.continue{float:right;color:#008fed;font-size:14px;}

.shopcartqty{height:auto;margin:0 auto;}
.discountprice{position:absolute;background:url(../images/discountbg.png);width:38px;height:39px;font-size:14px;color:#fff;font-weight:bold;text-align:center;left:-3px;top:-5px;}
.addbtn_loading span{background:url(../images/zen_loader1.gif);}
.addbtn_loading span strong{display:none;}

.paymethod_left{text-align:left;margin-top:10px; width:40%; float:left;}
.paymethod{text-align:right;margin-top:10px; width:60%; float:right;}
.paymethod img{position:relative;top:5px;}
.view_shippping_weight{color:#008FED;position:relative;cursor:pointer;}
.successtips_weight{width:250px; border:1px solid #d0d1a9;position:absolute;background:#FFC;top:23px;z-index:100;padding:5px;text-align:left;color:#333;left:-45px;display:none;}
.successtips_weight span{width:0; height:0; font-size:0; overflow:hidden; position:absolute;}
.successtips_weight span.bot{border-width:8px;border-style:dashed dashed solid dashed;border-color: transparent transparent #d0d1a9 transparent;left:100px;top:-16px;}
.successtips_weight span.top{border-width:8px;border-style: dashed dashed solid dashed;border-color: transparent transparent #ffc transparent;left:100px;top:-14px;}
.successtips_weight table{margin-top:5px;border:#d0d1a9 1px solid; border-bottom:none;background-color: #fff;}
.successtips_weight td{padding-left:5px;padding-right:5px;height:26px;}
.successtips_movewish{position:relative;}

.successtips_coupon{width:300px; border:1px solid #d0d1a9;position:absolute;background:#FFC;top:36px;z-index:100;padding:7px;text-align:left;color:#333;display:none;}
.successtips_coupon p{line-height: 20px;}
.successtips_coupon span{width:0; height:0; font-size:0; overflow:hidden; position:absolute;}
.successtips_coupon span.bot{border-width:8px;border-style:dashed dashed solid dashed;border-color: transparent transparent #d0d1a9 transparent;left:66px;top:-16px;}
.successtips_coupon span.top{border-width:8px;border-style: dashed dashed solid dashed;border-color: transparent transparent #ffc transparent;left:66px;top:-14px;}
.successtips_coupon table{background-color: #fff;width: 100%;border-left: 1px solid #ddd;border-top: 1px solid #ddd;}
.successtips_coupon table th{font-weight: normal;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.successtips_coupon table td{text-align: center;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;}

.success_add_all_to_wishlist{float: left;line-height: 26px;margin-left: 20px;background: #f8f3c9;width: 610px;margin-top: 3px;padding-left:20px;font-size:14px;}
.success_add_all_to_wishlist a{color:#ff0000;}

.cart_total_info{position:relative; cursor:pointer;}
.cart_total_infos{position:relative; cursor:pointer;}
.successtips_total{width:350px; border:1px solid #d0d1a9;position:absolute;background:#FFC;top:23px;z-index:100;padding:5px;text-align:left;color:#333;left:-145px;display:none;}
.successtips_total span{width:0; height:0; font-size:0; overflow:hidden; position:absolute;}
.successtips_total span.bot{border-width:8px;border-style:dashed dashed solid dashed;border-color: transparent transparent #d0d1a9 transparent;left:148px;top:-16px;}
.successtips_total span.top{border-width:8px;border-style: dashed dashed solid dashed;border-color: transparent transparent #ffc transparent;left:148px;top:-14px;}

.volweight {color: #008FED;margin-left: -90px;position: absolute;width: 170px;}
.volweight a{color:#008fed; text-decoration: underline;}

.quesicon{position:relative;display:inline-block;}
.question_icon{display:inline-block;width:15px;height:15px;background:url(../images/icon_shopcartbg.png) 0 -21px;margin-left:5px;}

.vipoff{color:#999;}

.windowship{width:auto;}
.shiptab td input{height:28px;line-height:28px;}
.quicktext{font-size:14px;color:#333;}
.textrighticon1{background:url(../images/icon_shopcartbg.png) -20px -59px;padding:3px 10px;}
.textwrongicon1{background:url(../images/icon_shopcartbg.png) -38px -42px;padding:3px 10px;}
.warnicon1{background:url(../images/icon_shopcartbg.png) 0 -57px;padding:3px 10px;cursor:pointer;}
.deleteicon_part{background:url(../images/icon_shopcartbg.png) -20px 0;padding:2px 10px;cursor:pointer;}
.quickadd td input.inputdisable{background:#eeeeee;border:1px solid #d7d7d7;color:#cb0000;}
.quickadd td input.inputwrong{background:#ffdddc;border:1px solid #ffb0b0;color:#cb0000;}
.shiptab{margin:20px 22px 0 22px;width:auto;cellpadding:0;cellspacing:0;padding-bottom:10px;border:0px;}
.shiptab td{text-align:right;padding-top:5px;}
.shiptab td ins{display:block;float:left;text-decoration:none;width:100px;margin-top:5px;}
.shiptab td button{float:left;margin-left:116px;display:inline;}
.shiptab td div{float:left;}
.shiptab td select{padding:5px 0;height:28px;line-height:20px;width:190px;float:left;margin-left:5px;display:inline;border:1px solid #e1e1e1;}
.shiptab td  input{float:left;border:1px solid #e1e1e1;margin-left:5px;display:inline;width:220px;}
.shiptab td  input.canread{background:#eee;font-weight:bold;color:#999999;}
.orderbtn_grey{background:#eee;background-image: -moz-linear-gradient(top, #f6f6f6, #eeeeee); /* Firefox */background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f6f6), color-stop(1, #eeeeee)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#eeeeee', GradientType='0'); /* IE*/border-radius:3px; display:inline-block; width:115px; height:31px; line-height:31px; border:#b8b8b8 1px solid; font-size:15px; font-weight:bold; color:#000; text-align:center;font-family:Arial, Helvetica, sans-serif;margin-left:10px;cursor:pointer;}
.shiptab input.canread{background:#f4f4f4;color:#7b7979;}
.shipwaysmall{margin:15px 25px 30px 25px;table-layout:fixed;width:745px;position:relative;border-collapse:collapse;}
.shipwaysmall th{border-top:1px solid #ccc;padding:8px 0;background:#eeeeee;text-align:left;}
.shipwaysmall tr.bychecked td{color:#cb0000;font-weight:bold;}
.shipwaysmall td{padding-left:30px;padding:10px 0;border-top:1px solid #f5f5f5;position:relative;}
.shipwaysmall td:first-child{text-align:left;}
.shipwaysmall td input{float:left;margin-right:10px;}
.shipwaysmall td strong{margin-left:10px;cursor:pointer;}
.shipwaysmall td  p.imgsize1{width:60px;height:22px;border:1px solid #eaeaea;float:left;margin-right:10px;}
.shipwaysmall td span{padding:2px 8px;cursor:pointer;}
.shipwaysmall th span.drise, .shipwaysmall th span.prise{display:inline-block;width:14px;height:14px;background:url(../images/icon_shopcartbg.png) -20px -16px no-repeat;cursor:pointer;}
.shipwaysmall th span.ddown, .shipwaysmall th span.pdown{display:inline-block;width:14px;height:14px;background:url(../images/icon_shopcartbg.png) -34px -16px no-repeat;cursor:pointer;}
.selfTab{display:none;}
.shipwaysmall td .remotetips{width:640px;left:0;background:#fff;border:1px dotted #333;z-index:100;padding:5px 10px;margin-left:10px;}
.shipwaysmall td .remotetips p{text-align:left;color:#F00;line-height:24px;}
.shipwaysmall tr.shownone{display:none;}
.shipwaytit{padding:0 25px;font-size:14px;color:#858585;margin-top:40px;}

.choose_single span{text-align:left;}
#country_choose .choose_search input{width:180px;}

.estshipping_loading{text-align:center;padding:30px;}

.pic_list{ padding:20px 0 30px;}
.pic_list_empty{ padding:10px; text-align:center; color:#333; font-size:14px;}
.pic_list li{ width:130px;height:auto;margin:2px 18px 0; float:left;z-index:100;height:280px;}
.discountbg{background: url(../images/icon.png) 0 -40px no-repeat; color: #FFFFFF; height:45px; left: -8px; top:-5px; line-height: normal; padding-top: 8px; position: absolute; text-align: center;width:54px;z-index:10;font-weight:bold;font-size:16px;}
.discountbg ins{text-decoration: none;}
.pic_list li .galleryimg { position: relative;width:120px;height:120px;z-index:10;}
.pic_list li p.ptext{ height:36px; margin:4px 0; }
.pic_list li p.ptext a{color:#333;}
.pic_list li p.ptext a:hover{color:#9A12A7;}
.pic_list li p.oldprice{line-height:20px;color:#999; display:block; height:20px;text-decoration:line-through;}
.pic_list li p.newprice{line-height:20px;color:#c20c0c;font-weight:bold;}
.pic_list li .detailinput{margin-top:4px;position:relative;}
.pic_list li .detailinput input{background:url(images/input-style.gif);border:1px solid #d7d7d7;line-height:22px;height:22px;width:50px;position:relative;top:-7px;}
.pic_list li .detailinput .cartbuy{display:inline-block;background:url(../images/icon.png) -55px 0px;width:30px;height:28px;position:relative;top:0;margin-left:8px;*top:0;}
.pic_list li .detailinput .icon_loading{display:inline-block;background:url(../images/zen_loader.gif) no-repeat;width:16px;height:16px;position:relative;bottom:5px;margin-left:8px;*top:0;}
.pic_list li .detailinput .addcollect{display:inline-block;background:url(../images/icon.png) -124px -125px;width:28px;height:30px;position:relative;top:4px;margin-left:4px;*top:0;}
.pic_list li .detailinput .icon_updates{ display:inline-block; background:url(../images/icon.png) -141px 0 no-repeat; width:28px; height:30px;position:relative;top:4px;margin-left:8px;*top:0;}
.pic_list li .detailinput .cartout{ display:inline-block; background:url(../images/icon.png) -98px 0 no-repeat; width:28px; height:30px;position:relative;top:4px;margin-left:8px;*top:0;}

.successtips{width:170px; border:1px solid #d0d1a9;position:relative;background:#FFC;top:-105px;left:-10px;z-index:100;padding:5px;display:none;}
.successtips strong{color:#C00;font-weight:bold;}
.successtips span{width:0; height:0; font-size:0; overflow:hidden; position:absolute;}
.successtips span.bot{border-width:10px;border-style:solid dashed dashed;border-color:#d0d1a9 transparent transparent;left:80px;bottom:-20px;}
.successtips span.top{border-width:10px;border-style:solid dashed dashed;border-color:#ffc transparent transparent;left:80px;bottom:-18px;}

.pic_list .successtips_add{width:180px; border:1px solid #d0cfcf;position:absolute;background:#faf8e4;/*top:-90px;*/bottom:40px;z-index:1;padding:10px 5px;left:0px;color:#666;line-height:20px;display:none;}
.pic_list .successtips_add .rp_total_amount{color:#ff0000;}
.pic_list .successtips_add span{width:0; height:0; font-size:0; overflow:hidden; position:absolute;}
.pic_list .successtips_add span.bot{border-width:8px;border-style:solid dashed dashed;border-color:#d0cfcf transparent transparent;left:70px;bottom:-16px;}
.pic_list .successtips_add span.top{border-width:8px;border-style:solid dashed dashed;border-color:#faf8e4 transparent transparent;left:70px;bottom:-14px;}
.pic_list .successtips_add1{width:190px;bottom:40px;}
.pic_list .successtips_add1 span.bot{border-width:8px;border-style:solid dashed dashed;border-color:#d0cfcf transparent transparent;left:15px;bottom:-16px;}
.pic_list .successtips_add1 span.top{border-width:8px;border-style:solid dashed dashed;border-color:#faf8e4 transparent transparent;left:15px;bottom:-14px;}
.pic_list .successtips_add3 span.bot{border-width:8px;border-style:solid dashed dashed;border-color:#d0cfcf transparent transparent;left:100px;bottom:-16px;}
.pic_list .successtips_add3 span.top{border-width:8px;border-style:solid dashed dashed;border-color:#faf8e4 transparent transparent;left:100px;bottom:-14px;}
.pic_list .successtips_add a{display:inline-block;color:#2321A9;margin-right:20px;}
.pic_list .successtips_add2 sh a{display:inline-block;color:#2321A9;margin:0px;color:#008fed;}
.pic_list .successtips_add2 sh a:hover{color: #f60;text-decoration: none;}

.shopping_cart_main_content .propagelist{top:10px;}
.shopping_cart_main_content{margin-bottom:20px;}


.shopcart_content .thead {border:1px solid #ccc;}
.shopcart_content .thead td{padding:3px 10px;background:#f3f3f3;}
.shopcart_content .thead .cate-tit{border-left:1px solid #ccc;}
.shopcart_content .thead .cate-total{border-right:1px solid #ccc;}
.shopcart_content .cart_sort_by{font-weight:700;color:#008FED;}

.products_note{cursor: pointer;margin-top: 10px;margin-left: 20px;display:inline-block; width:16px; height:18px; background:url(../images/note.png);}
.products_note_in{cursor: pointer;margin-top: 10px;margin-left: 20px;display:inline-block; width:24px; height:18px; background:url(../images/note_in.png);}
.pricetips{width:485px; border:1px solid #ababab;position:absolute;background:#f8f8f8;top:40px;z-index:95;padding:8px 15px;left:-360px;text-align:left;border-radius:5px;display:none;}
.pricetips span{width:0; height:0; font-size:0; overflow:hidden; position:absolute;}
.pricetips span.bot{border-width:8px;border-style:dashed dashed solid dashed;border-color:transparent transparent #ababab transparent;left:140px;top:-16px;}
.invoiceform td .pricetips p{line-height:16px;color:#666;margin-top:5px;font-size:10px;}
.pricetips span.top{border-width:8px;border-style: dashed dashed solid dashed;border-color: transparent transparent #f8f8f8 transparent;left:140px;top:-15px;}
.pricetips ins{position:absolute;left:496px;top:5px;font-weight:bold;color:#C00;text-decoration:none;cursor:pointer;}
.save_note_tpis {display: block;float: right;position: relative;top: 0;width: 160px;}
.btn_yellow {background:#b962d5;border-radius: 2px 2px 2px 2px;border: 1px solid #8C58A2;cursor: pointer;font-family: Tahoma;outline: medium none;overflow: visible;height: 28px;width: 100px;margin-right:15px;}
.btn_yellow span strong{color: #FFFFFF;font-family: Tahoma,Geneva,sans-serif;font-size: 14px;font-weight: bold;line-height: 28px;}
.btn_grey {background: -moz-linear-gradient(center top , #F6F6F6, #EEEEEE) repeat scroll 0 0 #EEEEEE; border: 1px solid #B8B8B8;border-radius: 2px 2px 2px 2px;cursor: pointer;font-family: Tahoma;outline: medium none;overflow: visible;height: 28px;width: 100px;}
.btn_grey span strong{font-family: Tahoma,Geneva,sans-serif;font-size: 14px;color: #000000;font-weight: bold;line-height: 28px;}

.smallwindow{width:780px; height:auto;border:1px solid #434343;position:absolute;top:10%;left:50%;background:#fff;z-index:100001;box-shadow:#444 4px 4px 10px;border-radius:10px;}

.shopcart_content td.iindex{z-index:10001;}
#product_notes{position: absolute;width: 60px;}
.products_note_tips{position:relative;width:300px;border:1px solid #D0D1A9;background:#FFFFCC;color:#333;top:10px;margin-bottom:10px;left:-150px;padding:5px;z-index:1;display:none;}
.products_note_tips span{width:0; height:0; font-size:0; overflow:hidden;position:absolute;}
.products_note_tips span.bot{border-width:8px;border-style:dashed dashed solid;border-color:transparent transparent #D0D1A9;left:190px;top:-16px;}
.products_note_tips span.top{border-width:8px;border-style:dashed dashed solid;border-color:transparent transparent #FFFFCC ;left:190px;top:-14px}
.pricetips .notecontmain{border: 1px solid rgb(187, 187, 187); padding: 10px; border-radius: 0px; position: relative; height: 170px; width: 450px; left: -360px; top: 10px; background: none repeat scroll 0% 0% rgb(255, 255, 255);display:none; }
.icon_soldout{
background: #eee;
background-image: -moz-linear-gradient(top, #f6f6f6, #eeeeee);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f6f6), color-stop(1, #eeeeee));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#eeeeee', GradientType='0');
border-radius: 2px;
display: block;
width: 85px;
height: 28px;
line-height: 28px;
border: #b8b8b8 1px solid;
font-size: 15px;
font-weight: bold;
color: #000;
text-align: center;
font-family: Arial,Helvetica,sans-serif;
float:left;
text-deracotion:none;
color:#000;
cursor:pointer;
}

tr.del_cart_product td{ height:auto; background:#fffdf7; border:none;border:1px solid #ffbb76; padding:5px 7px;}

/* db v3.7.1 */
.show_promotion_num_tips{position: absolute; bottom: 3px; width: 800px; text-align: left; left: 10px; color: #999;}

/* db v3.7.4 */
.newest_ndn,.newest_pup, .newest_nup{margin:0 10px; float:left;color:#008fed;}
.newest_ndn span:nth-child(1), .newest_nup span:nth-child(1){margin-left:10px;margin-right:0px;color:#FF8247;}
.newest_pup span:nth-child(1){margin-left:10px;margin-right:0px;}
.newest_ndn span:nth-child(2), .newest_pup span:nth-child(2), .newest_nup span:nth-child(2){background:url(../images/icon_system.png) no-repeat;position:relative;top:-3px;border:none;margin:0;}
.newest_ndn span:nth-child(2){background-position: -116px -115px;}
.newest_pup span:nth-child(2){background-position: -76px -115px;}
.newest_nup span:nth-child(2){background-position: -96px -115px;}

