@charset "utf-8";
/* CSS Document */
.maincontent{border-top:1px solid #cccccc;height:auto;color:#333333;font-size:14px;position:relative;padding-top:10px;}
.maincontent.bordert{border-top:none;}
.themetit{padding:0 5px;font-weight:bold;}
.loginform,.registerform{padding:5px 28px 15px 28px;border-bottom:1px dotted #cccccc;}
.loginform span{color:#c00;}
.loginform label,.registerform label{display:block;font-size:14px;color:#333;line-height:24px;}
.loginform input,.registerform input{border:1px solid #cccccc;height:28px;border-radius:3px;box-shadow:5px 5px 10px #ececec inset;width:98%;padding:0 1%;font-size:12px;}
.loginform input[type="password"]{font-size:22px;color:#333;}
.loginform div,.registerform div{margin-top:0px;}
.registerform div.reg-notice{margin-top:0;}
.loginform span.check,.registerform span.check{display:inline-block;width:18px;height:18px;background:url(../images/mainicon.png) -44px -72px;background-size:200px 150px;cursor:pointer;margin-right:10px;text-align:center;position:relative;top:2px;}
.loginform .check.select,.registerform .check.select{color:#2368d2;font-weight:bold;background:url(../images/mainicon.png) -73px -72px;background-size:200px 150px;}
.loginform a{float:right;padding-top:6px;}
#subcribe-email,#agree{font-size:12px;}
.registerform span{display:block;color:#C00;font-size:12px;}
#subcribe-email{padding-left:10px;}

.useitbtn,.button-now,.find-submit,.checkbtn-cart,.goshop-btn,.viewallbtn,.viewlessbtn,.deletesubmit-btn,.advanced_one{background:#b760d4;border:1px solid #974baf;padding:2px 0;background:-moz-linear-gradient(top,#c971e6,#b260cd);background:-webkit-gradient(linear,0 0,0 100%,from(#c971e6),to(#b260cd));background:-o-linear-gradient(top,#c971e6,#b260cd);}
.addresssubmit-btn{background:#ec4384;border:1px solid #c33269;}
.useitbtn{cursor:pointer;display:inline-block;font-size:14px;padding:0 30px;line-height:28px;margin-top:5px;color:#fff;font-weight:bold;}
.button-now{line-height:26px;}
.button-now,.find-submit,.checkbtn-cart,.goshop-btn{cursor:pointer;display:inline-block;width:100%;font-size:14px;color:#fff;text-align:center;font-weight:bold;}
.checkbtn-cart{float:right;width:44%;line-height:26px;}
.goshop-btn{display:block;width:70%;margin-top:8px;}


.advanced_one{display:inline-block;font-size:14px;border-radius:3px;line-height:24px;margin-top:5px;width:100%;color:#fff;text-align:center;font-weight:bold;}

.viewallbtn,.viewlessbtn{display:block;height:24px;line-height:24px;width:60%;font-size:14px;margin:0 auto;text-align:center;color:#fff;font-weight:bold;}
.viewallbtn ins{display:inline-block;width:0;height:0;border-top:7px solid #fff;border-bottom:7px solid transparent;border-left:7px solid transparent;border-right:7px solid transparent;position:relative;top:2px;margin-left:5px;}
.viewlessbtn ins{display:inline-block;width:0;height:0;border-bottom:7px solid #fff;border-top:7px solid transparent;border-left:7px solid transparent;border-right:7px solid transparent;position:relative;top:-3px;margin-left:5px;}

.newto{padding:0 28px 15px 28px;}
.newto p{text-align:center;line-height:20px;margin:10px 0;}

.button-change,.find-back,.backbtn,.addresscancel-btn,.advanced_two{cursor:pointer;display:block;background:#ededed;background:-webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#e6e6e6));background:-moz-linear-gradient(top,#f5f5f5,#e6e6e6);background:-o-linear-gradient(top,#f5f5f5,#e6e6e6);border:1px solid #bdbdbd;box-shadow:0px 1px 0px #a8a8a8;color:#333;font-weight:bold;text-align:center;text-decoration:none;}
.button-change{width:100%;font-size:16px;line-height:30px;}
.loading{width:40%;height:100px;background:#525252 url(../images/loadbig.gif) center center no-repeat;background-size:80px 80px;margin:0 auto;position:absolute;top:55px;left:28%;}
.registerform ins{color:#F00;padding-right:5px;}
.reg-notice{font-size:12px;}
.registerform select{border:1px solid #ccc;height:30px;box-shadow:5px 5px 10px #ececec inset;line-height:30px;width:100%;border-radius:2px;}
.log-offtext{padding:0 20px 20px 20px;}
.log-offtext p{line-height:16px;margin-top:10px;}
.find-submit,.addresssubmit-btn,.deletesubmit-btn{width:40%;float:left;height:30px;font-size:14px;cursor:pointer;color:#fff;font-weight:bold;}
.find-back,.addresscancel-btn{width:40%;float:right;font-size:14px;height:30px;}
.backbtn{float:left;font-size:14px;line-height:26px;padding:0 20px;margin-left:5px;}
.advanced_two{cursor:pointer;display:inline-block;font-size:14px;border-radius:3px;line-height:24px;margin-top:5px;width:100%;}
.enternewbtn{height:28px;line-height:28px;width:50%;font-size:14px;margin-bottom:10px;}
.validate-tips{width:96%;height:100px;background:#525252;background-size:80px 80px;color:#fff;margin:0 auto;position:absolute;top:185px;left:2%;padding:20px 0;}
.validate-tips p{padding:0 10px;}

.welcome-tit{background:url(../images/righticon.png) no-repeat;font-size:16px;color:#e66c33;font-weight:bold;padding:10px 40px 15px 54px;}
.welcomecont{padding:0 18px 10px 18px;border-bottom:1px dotted #ccc;}
.welcomecont p{font-size:14px;margin-top:5px;}
.welcomecont h5{line-height:20px;padding-bottom:10px;}

.welcomenext{padding:10px 18px;}
.welcome-list{padding-bottom:10px;}
.welcome-list li{background:url(../images/mainicon.png) no-repeat -2px -2px;background-size:200px 150px;line-height:24px;padding-left:24px;}
.find-password{padding:10px 20px;}
.find-password h5 {line-height:18px;}
.find-password h5 span{color:#C00;}
.find-password h5 p{color:#C00;}

/*shopcart.html*/
.shopcarttype{background:#f5f5f5;border:1px solid #ccc;margin:10px 5px 0;padding:5px 10px;font-size:14px;}
.shopcarttype em{color:#c00;}
.shopcarttype span{padding-left:20px;}
.shop-process{width:100%;margin:10px auto;overflow:hidden;background-size:345px 458px;padding-bottom:20px;}
.shopprocess-list{height:40px;width:100%;margin:0 auto;}
.shopprocess-list li{float:left;width:25%;height:40px;text-align:center;color:#010101;}
.current-1 span,.current-2 span,.current-3 span,.current-4 span{display:block;line-height:26px;color:#999999;text-shadow:1px 1px 1px #fff;font-size:13px;color:#999;}
.current-1 strong,.current-2 strong,.current-3 strong,.current-4 strong{font-weight:normal;font-size:14px;line-height:16px;}
.current-1{background:url(../images/shopcartbg.png) center -83.875px no-repeat;background-size:375px 458px;}
.current-1.now{background:url(../images/shopcartbg.png) center -125px no-repeat;background-size:375px 456px;}
.current-1 span,.current-1.now span,.current-2.now span,.current-2.now-1 span,.current-3.now span,.current-3.now-1 span,.current-3.now-1 span,.current-4.now span{color:#fff;text-shadow:1px 1px 1px #57af42;}
.current-2.now-1,.current-3.now-1{background:url(../images/shopcartbg.png) center -1px no-repeat;background-size:375px 455px;}
.current-1 strong,.current-1.now strong,.current-2.now-1 strong,.current-2.now strong,.current-3.now-1 strong,.current-3.now strong,.current-4.now strong{font-weight:bold;color:#974BAF;}
.current-2,.current-3{background:url(../images/shopcartbg.png) center -280px no-repeat;background-size:375px 458px;}
.current-2.now,.current-3.now{background:url(../images/shopcartbg.png) center -206px no-repeat;background-size:375px 457px;}
.current-4{background:url(../images/shopcartbg.png) center -330px no-repeat;background-size:375px 457px;}
.current-4.now{background:url(../images/shopcartbg.png) center -167px no-repeat;background-size:375px 458px;}




/* .shopmain{border-top:1px solid #b96ed2;margin-top:10px;padding-top:10px;} */
/* .delete-btn{display:inline-block;width:24px;height:32px;background:url(../images/mainicon.png) -166px -29px no-repeat;background-size:200px 150px;position:relative;top:10px;left:40px;} */
.shopmain .totalmoney,.shopmain .totalmoney1,.shopmain .totalweight{padding:0 5px;line-height:26px;font-size:14px;}
.shopcart-cont{border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;box-shadow:1px 1px 1px #f8f8f8;position:relative;}
.shopcart-cont.scroll{height:760px;overflow-y:scroll;}
.shopmain .totalmoney span{color:#c12e2e;font-weight:bold;}
.shopmain .totalweight a{padding-right:20px;}

.view_shippping_weight{color:#06f;position:relative;cursor:pointer;}
.successtips_weight{width:250px; border:1px solid #d0d1a9;position:absolute;background:#FFC;top:23px;z-index:100;padding:5px;text-align:left;color:#333;left:-45px;display:none;}
.successtips_weight span{width:0; height:0; font-size:0; overflow:hidden; position:absolute;}
.successtips_weight span.bot{border-width:8px;border-style:dashed dashed solid dashed;border-color: transparent transparent #d0d1a9 transparent;left:100px;top:-16px;}
.successtips_weight span.top{border-width:8px;border-style: dashed dashed solid dashed;border-color: transparent transparent #ffc transparent;left:100px;top:-14px;}
.successtips_weight table{margin-top:5px;border:#d0d1a9 1px solid; border-bottom:none;}
.successtips_weight td{padding-left:5px;padding-right:5px;height:26px;}
.successtips_movewish{position:relative;}

.pagelist{text-align:center;padding:10px 0;margin:10px 0;}
.pagelist a{color:#F00;}

.h3tit{background:#f7f7f7;border-top:1px solid #b96ed2;line-height:28px;color:#030303;padding:0 5px;font-size:14px;font-weight:bold;}

.likecontent ul{height:auto;overflow:hidden;padding:0 6px;}
.likecontent ul li{float:left;width:50%;margin-top:10px;min-height:250px;}
.likecontent ul li input{display:inline-block;border:1px solid #cecece;height:24px;width:60px;}
.deleteprice{display:block;width:143px;color:#999;text-decoration:line-through;margin:0 auto;line-height:20px;height:20px;}
.insertprice{display:block;width:143px;color:#C00;margin:0 auto;line-height:20px;height:20px;}
.likeimg{display:block;border:1px solid #cccccc;width:143px;height:143px;margin:0 auto;}
.liketext{display:block;width:143px;color:#444444;line-height:16px;margin:0 auto;text-align:left;}
.addcartbtn{display:inline-block;padding:0 16px;background:#f4d150;background:-moz-linear-gradient(top,#f4db5a,#f5c647);border:1px solid #d7a23d;position:relative;top:4px;margin-left:8px;}
.addcartbtn span{display:inline-block;background:url(../images/mainicon.png) -2px -30px;background-size:200px 150px;width:28px;height:20px;position:relative;top:2px;}
.likecontent ul li p{width:143px;margin:0 auto;}


.checkdiscount{font-size:14px;border-bottom:1px solid #b96ed2;margin:15px 0;padding-bottom:15px;padding:0 5px;}
.checkdiscount dl{height:auto;padding:2px 0;}
.checkdiscount dd{width:49%;text-align:left;float:left;color:#c12e2e;padding-left:1%;}
.checkdiscount dt{width:50%;text-align:right;float:left;}
.checkdiscount p{text-align:center;margin-bottom:10px;}

.pricetipscont{font-size:12px;width:90%;border:1px solid #d7a796;background:#fffce2;z-index:10;padding:10px 1% 10px 1%;color:#333;top:20px;margin-bottom:10px;display:none;margin:20px}
.pricetipscont span{width:0; height:0; font-size:0; overflow:hidden;}
.pricetipscont span.bot{position:relative;top:-30px;left:65%;border-width:8px;border-style:dashed dashed solid;border-color:transparent transparent #d7a796;}
.pricetipscont span.top{border-width:8px;border-style:dashed dashed solid;border-color:transparent transparent #fffce2 ;right:32%;top:-14px;}
.checkdiscount b{font-weight:normal;color:#f00;}

.discounttips{font-size:12px;position:relative;width:90%;border:1px solid #d7a796;background:#fffce2;z-index:10;padding:10px 5%;color:#333;top:5px;margin-bottom:10px;display:none;}
.discounttips span{width:0; height:0; font-size:0; overflow:hidden;position:absolute;}
.discounttips span.bot{border-width:8px;border-style:dashed dashed solid;border-color:transparent transparent #d7a796;left:22%;top:-16px;}
.discounttips span.top{border-width:8px;border-style:dashed dashed solid;border-color:transparent transparent #fffce2 ;left:22%;top:-14px;}

.checktotal{padding:0 2%;width:96%;position:fixed;bottom:0px;background:#f8f8f8;border-top:1px solid #ccc;padding-top:5px;z-index:1001}
.checkouthead{padding:0 2%;width:96%;}
.checktotal strong{dispaly:block;float:left;width:50%;font-size:14px;color:#333;}
.checktotal strong span{color:#c12e2e;}
.checktotal p{height:auto;overflow:hidden;}

.tright{text-align:right;padding:0px 10px 0;}


.shopnone{background:url(../images/unhappy.png) no-repeat;padding:10px 0 10px 100px;line-height:26px;font-size:14px;margin:0 15px 10px;}
.shipweighttab{width:100%; margin:auto; border-spacing:0px; border-collapse:collapse;}
.shipweighttab td{border:1px solid #cdcdcd;padding:5px 0;text-align:center;width:50%;color:#333; font-size:12px;}
.shipweighttab td a{text-decoration:underline;}

.shipweight-tit{color:#555; font-size:14px; line-height:50px; margin:5px 0 10px 0;}
.confirmtips,.confirmtips-move,.addressedittips,.emptytips-move,.deletetips{margin:0 5px;position:relative;top:-108px;z-index:10;display:none;}
.confirmtips div,.confirmtips-move div,.addressedittips div,.emptytips-move div,.deletetips div{background:#000;width:100%;position:absolute;padding:15px 0;z-index:11;background:rgba(0,0,0,0.8);filter:alpha(opacity=80);}
.confirmtips div p,.confirmtips-move div p,.addressedittips div p,.emptytips-move div p,.deletetips div p{color:#fff;text-align:center;font-weight:bold;font-size:14px;line-height:30px;}
.confirmtips-move,.emptytips-move{top:0;margin:0;width:100%;}
.confirmtips-move div,.emptytips-move div{position:fixed;width:100%;}

.addressedittips{top:-30px;}
.deletetips{top:0px;margin:0;width:100%;position:fixed;}

.okbtn{display:inline-block;position:relative;background:#f4cd4c;background:-moz-linear-gradient(top,#f4db5b,#f5c647);border:1px solid #7e6535;height:24px;line-height:24px;color:#623500;font-weight:bold;padding:0 30px;margin-right:20%;filter:alpha(opacity=100);-moz-opacity:1;-kHTML-opacity:1;opacity:1;}
.cancelbtn{display:inline-block;position:relative;background:#f3f3f3;border:1px solid #585858;height:24px;line-height:24px;color:#333333;font-weight:bold;padding:0 15px;opacity:100;filter:alpha(opacity=100);-moz-opacity:1;-kHTML-opacity:1;opacity:1;}

.addresscont{padding:0 5px 10px;}
.addressform{padding:0 5px;}
.addressform p{font-size:14px;margin-top:6px;}
.addressform input[type="text"],.addressform select,.addressform input[type="password"]{border:1px solid #cccccc;height:28px;border-radius:3px;box-shadow:5px 5px 10px #ececec inset;width:99%;padding:0 0.5%;font-size:14px;}
.addressform textarea{border:1px solid #cccccc;height:68px;border-radius:3px;box-shadow:5px 5px 10px #ececec inset;width:99%;font-size:12px;line-height:20px;padding:5px 0.5%;}
.addressform select{width:100.5%;padding:0;height:30px;font-size:14px;}
.addressform input[type="radio"]{margin-right:5px;margin-left:40px;}
.addressform p label{color:#d61111;}
.addressform p span{display:block;color:#d61111;}
.addresscont .require{text-align:right;color:#d61111;font-size:14px;}
.addressnav{border-bottom:1px solid #ccc;color:#333;font-size:14px;font-weight:bold;padding:0 5px;margin-bottom:10px;padding-bottom:10px;}
.addressbtn{height:30px;overflow:hidden;margin:10px 0;}
.addressform p ins{font-size:12px;color:#555;}
/*.addressform div{height:auto;overflow:hidden;margin-top:15px;}*/

.addresslist{width:100%;background:#fff;border:1px solid transparent;border-bottom:1px dotted #cccccc;margin-top:10px;}


.addresslist input[type=radio]{margin-left:10px;}
.addresslist.selected{border:1px dotted #d7a796;background:#f9f3ff;font-weight:bold;}
.addresslist td label{color:#555;}
.addresslist td{position:relative;vertical-align:top;padding:15px 0 15px;}
.addresslist.selected label{color:#555555;}

.contbtn{height:auto;overflow:hidden;padding:10px 20px 0;}
.contbtn .button-change{margin-top:15px;}


.ship-type{border:1px solid #cccccc;height:26px;line-height:26px;margin:0 5px;}
.ship-type span{display:inline-block;background:#e8e8e8;background:-moz-linear-gradient(top,#f5f5f5,#dfdfdf);background:-webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#dfdfdf));background:-o-linear-gradient(top,#f5f5f5,#dfdfdf);font-size:14px;border-right:1px solid #ccc;float:left;padding:0 10px;}
.ship-type div{position:relative;margin-left:70px;}
.ship-type div select{position:absolute;width:100%;height:26px;border:none;line-height:26px;}
.shipmethod-list{width:100%;}
.shipmethod-list .selected td{color:#c12e2e;}
.shipmethod-list td{vertical-align:top;border-top:1px dotted #ccc;padding:10px 8px;position:relative;}
.opentips,.pricetipsicon{display:inline-block;cursor:pointer;width:36px;height:20px;background:url(../images/mainicon.png) -44px -35px no-repeat;background-size:200px 150px;margin-left:4px;}
.shipmethod-list .bordernone td{border-bottom:none;}
.shipmethod-list tr.bordert td{border-top:none;}
.closetipsbtn{display:inline-block;cursor:pointer;width:36px;height:20px;background:url(../images/mainicon.png) -31px -104px no-repeat;background-size:200px 150px;margin-left:4px;}

.shipmore{height:auto;overflow:hidden;text-align:right;border-top:1px solid #ccc;line-height:30px;margin:5px 0;padding:10px 10px 0 0;}
.shipmore .morecont,.shipmore .lesscont{text-decoration:underline;font-size:14px;}
.shipmore .lesscont{display:none;}

.shiptipscont{display:inline-block;position:relative;width:80%;}
.shiptips{position:relative;border:1px solid #d8b8f4;background:#f9f3ff;z-index:10;color:#333;display:none;padding:10px;left:25px;right:35px;margin-top:5px;}
.shiptips p{width:100%;}
.shiptips.sh{display:block;}
.shiptips span{width:0; height:0; font-size:0; overflow:hidden;position:absolute;}
.shiptips span.bot{border-width:8px;border-style:dashed dashed solid;border-color:transparent transparent #d8b8f4;left:72px;top:-16px;}
.shiptips span.top{border-width:8px;border-style:dashed dashed solid;border-color:transparent transparent #f9f3ff;left:72px;top:-14px;}
.shipcont{padding-bottom:10px;}
.shiptips b{color:#F00;position:absolute;right:5px;cursor:pointer;font-size:18px;top:0px;}




.ordermessage{padding:0 5px 10px;border-bottom:1px dotted #ccc;}
.ordermessage h3{text-align:center;color:#b060cf;font-size:14px;font-weight:bold;padding:5px 0;}
.ordermessage p{margin:5px 0;color:#333;font-size:14px;}
#ordermessage{width:100%;height:100px;border:1px solid #cccccc;margin-top:5px;font-size:14px;color:#333;}
.ordermessage table{width:100%;margin-top:10px;}
.ordermessage table td{vertical-align:top;color:#555;font-size:14px;}

.ordermessage table td input{border:1px solid #cdcdcd;height:24px;width:100%;}
.ordermessage h4{color:#555555;font-size:14px;margin-top:10px;}
.ordermessage h4 span{color:#e5450f;}
.ordermessage table span{color:#888;font-size:14px;}

#message-byte{color:#888888;}

.totalpricecont{background:#fcf9ff;border:1px dotted #cccccc;padding:10px 0;margin-top:20px;}
.totalprice{width:100%;}
.totalprice td{padding:2px;font-size:14px;color:#333;}
.totalprice td span,.totalprice td b{color:#c12e2e;}

.packchoice li{position:relative;padding-left:22px;line-height:20px;margin-top:10px;}
.packchoice li input{position:absolute;left:5px;top:2px;}
.packchoice li span{color:#0066ff;font-size:12px;}

.order-reviewtit{font-size:14px;font-weight:bold;padding:10px 0;}
.order-review{padding:0 0 20px;height:auto;overflow:hidden;border-bottom:1px dotted #ccc;}
.textleft{float:left;width:60%;padding-left:20px;}
.textleft em{display:block;font-weight:bold;}
.order-review .editbtn{float:right;}
.order-review p strong,.order-review b{color:#e54721;}
.usecoupon{font-size:14px;font-weight:bold;margin:10px 20px 0;}
.couponselect{font-size:14px;margin-top:6px;}
.couponselect select{border:1px solid #ccc;height:30px;box-shadow:5px 5px 10px #ececec inset;line-height:30px;width:100%;border-radius:2px;margin:6px 0 0;}
.discounttit{font-weight:bold;font-size:14px;color:#333;}

.packway{padding:10px 0 20px;font-size:14px;border-bottom:1px dotted #ccc;position:relative;}
.packway ins{text-decoration:none;color:#ec2f2f;margin-right:5px;}
.packway p{line-height:16px;color:#333;padding:5px 5px 0;}

.discounttext{padding:0 20px;}
.alldetails{display:none;border:2px solid #76388a;}
.btncenter{text-align:center;}

.packchoice-tips{width:100%;background:#000;position:absolute;top:75px;filter:alpha(opacity=70);-kHTML-opacity:0.7;background:rgba(0,0,0,0.8);z-index:11;}
.packchoice-tips p{padding:20px;color:#fff;font-size:14px;line-height:20px;}

.packchoicetips{position:relative;width:100%;z-index:10;top:5px;}
.shiptips.sh{display:block;}
.packchoicetips span{width:0; height:0; font-size:0; overflow:hidden;position:absolute;}
.packchoicetips span.bot{border-width:8px;border-style:dashed dashed solid;border-color:transparent transparent #d8b8f4;left:102px;top:-16px;}
.packchoicetips span.top{border-width:8px;border-style:dashed dashed solid;border-color:transparent transparent #fffce2 ;left:102px;top:-14px;}
.packchoicetips p{padding:10px;background:#fffce2;border:1px solid #d8b8f4;font-size:12px;}

.complete-tit,.payment-tit{margin:0 30px;background:url(../images/righticon.png) no-repeat;font-size:12px;color:#974BAF;padding:5px 10px 10px 60px;font-size:14px;}
.complete-tit strong{display:block;font-size:14px;}
.ordernum-time{padding:10px 5px;text-align:left;font-size:12px;font-size:14px;}
.ordernum-time span{float:right;}
.ordernum-time ins,.payment-tit p ins{color:#0066ff;}
.payment-tit{font-size:14px;font-weight:bold;}
.payment-tit p{color:#333;font-size:14px;}

.paydetail{height:auto;overflow:hidden;padding:5px 5px 0;font-size:12px;}
.paydetail dd{width:50%;float:left;line-height:14px;padding-top:8px;font-size:14px;font-size:14px;}
.paydetail dt{width:50%;float:left;line-height:14px;padding-top:8px;font-size:14px;font-size:14px;}
.ordernow{height:auto;overflow:hidden;padding:10px 5px;border-bottom:1px dotted #ccc;}
.ordernow li{float:left;width:50%;font-weight:bold;}

.shiporder{padding:5px 5px 15px;font-size:12px;border-bottom:1px solid #b96ed2;}
.shiporder p{margin-top:10px;font-size:14px;}
.shiporder strong{margin-right:5px;}

.ship-calculate{border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:10px 5px;margin-bottom:15px;color:#333;}
.ship-calculate h3{font-size:14px;font-weight:bold;margin-top:10px;}
.calculatetab{width:100%;}
.calculatetab td{padding:5px 5px;}
.weightinput,.postalinput{border:1px solid #cccccc;height:28px;border-radius:3px;box-shadow:5px 5px 10px #ececec inset;width:98%;padding:0 1%;font-size:12px;}
.calculatetab select{border:1px solid #ccc;height:30px;box-shadow:5px 5px 10px #ececec inset;line-height:30px;width:100%;border-radius:2px;}
.kindlytips{color:#333;font-size:12px;padding:0 5px 15px;line-height:20px;}

.balance-left{border:1px solid #d7a796;background:#fffce2;width:80%;padding:20px 10%;}
.balance-left span{color:#e5450f;}

.payment-one{padding:0 10px 15px;}
.payment-one p{padding:10px 0;}
.payment-one p input[type="radio"]{margin-right:5px;}

.clear{ clear:both;}
.total{ color:#333; font:14px Arial, Helvetica, sans-serif; font-weight:bold;}
.text { color:#666;}
.notes { font-size:12px; color:#666;}
.pice{ color:#c12e2e; font:14px Arial, Helvetica, sans-serif; font-weight:bold;}

.viplevel{margin:0 5px 10px;width:90%;}
.viplevel td{vertical-align:text-top;padding:0 10px 10px 0;}
.viplevel td span.centertext{display:block;background:url(../images/arrow.png) no-repeat 20px 6px;padding:15px 0 18px 55px;}

.user-menu{ font-family:Arial, Helvetica, sans-serif; padding-bottom:20px;}
.user-menu h2{ font-weight:bold;font-size:14px; padding:10px 5px;border-top:1px solid #ccc; line-height:20px;}
.user-menu p {padding:0 20px 1px;line-height:42px;font-size:16px;border-bottom:1px solid #cccccc;background:#f2f3f2;border-top:1px solid #fff;color:#010101;position:relative; color:#333;cursor: pointer;}

.user-menu p ins{margin:0 18px 0 5px;display:inline-block;width:38px;height:38px; }
.user-menu p a{display:block;color:#333;}
.user-menu p a:hover{text-decoration:none;}

.user-menu p.orders ins{ background:url(../images/My-Orders-icon.png) no-repeat -4px -6px;background-size:160px 135px;}
.user-menu p.wishlist ins{ background:#fff url(../images/My-Orders-icon.png) no-repeat -54px -7px;background-size:160px 135px;border:1px solid #ccc;border-radius:25px;width:36px;height:36px;}
.user-menu p.book ins{ background:url(../images/My-Orders-icon.png) no-repeat -101px -6px;background-size:160px 135px;}
.user-menu p.setting ins{ background:url(../images/My-Orders-icon.png) no-repeat -4px -50px;background-size:160px 135px;}
.user-menu p.coupon ins{ background:url(../images/My-Orders-icon.png) no-repeat -4px -95px;background-size:160px 135px;}
.user-menu p.balance ins{ background:url(../images/My-Orders-icon.png) no-repeat -101px -50px;background-size:160px 135px;}
.user-menu p.email ins{ background:url(../images/My-Orders-icon.png) no-repeat -53px -51px;background-size:160px 135px;}
.user-menu ul{border-bottom:1px solid #ccc;display:none;}
.user-menu ul{border-bottom:1px solid #ccc;display:none;}
.usermenulist{border-top:1px solid #ccc; }
.usermenulist em{color:#e00101;}
.backpage{height:auto;padding-left:5px;overflow:hidden;}

.user-menu ul li{font-size:14pz; line-height:36px; border-bottom:1px #CCC dotted; padding:0 30px 0 50px;}
.user-menu ul li.orders5{ border-bottom:none;}

.user-menu ul li a{ color:#333; display:block;font-size:14px;}
.user-menu ul li span{ float:right; font-weight:bold;}
.user-menu p span{display:inline-block;width:15px;height:20px;background:url(../images/iconbg.png) no-repeat -180px -50px;background-size:200px 200px;float:right;position:relative;top:15px;}
.user-menu p.now span{display:inline-block;width:15px;height:20px;background:url(../images/iconbg.png) no-repeat  -35px -172px;background-size:200px 200px;float:right;position:relative;top:12px;}



/* shoppping_cart V2.0.2 */
.order_main{font-size:13px;}
.order_main .prompt{ background-color:#fff8e2; font-size:13px; padding:10px;}
.order_main .continue{ padding:10px 5px;display: inline-block; font-size:14px; /* width:50%; */ float:left;}
.order_main .add_all_wishlist{ padding:10px 5px;display: inline-block; font-size:14px; width:50%; float:left;}
.order_main .empty {padding:10px 5px;font-size:14px;  float:right;display: inline-block; /* text-decoration:underline; */}
.order_main .top_total{ background-color:#f7f7f7; border-top:1px solid #ccc; height:68px; line-height:34px; padding:0 5px; margin-bottom:10px;}
.order_main .top_total span{width:100%; display:block; border-top:1px dashed #ccc;}
.order_main .top_total span a{color:#3b5998; text-decoration:underline;}
.order_main .shopmain{ border-bottom:1px solid #ccc;}
.order_main .shopmain li{ border-bottom:1px dashed #ccc; padding:0 5px 15px 5px;}
.order_main .shopmain li p{ padding:10px 0;}
.order_main .shopmain li .Re_add{ text-decoration:underline; font-size:14px; padding-top:5px; display:block;}
.order_main .shopmain .pro_img{ float:left; width:110px; padding-right:10px; position:relative;}
.order_main .shopmain .pro_price{ float:right; text-align:right;}
.order_main .shopmain .pro_price p{font-size:13px; padding:0 0 8px 0}
.order_main del{ color:#999;text-decoration:line-through;}
.order_main .pro_number{ padding:10px 0;}
.order_main .pro_number input{ width:45px; height:30px; border:1px solid #ccc; /* margin-left:10px; */ text-align:center;float: left;}
.order_main .avalaible{ color:999; padding:5px 0; color:#666;}
.order_main .cart_content a{width:100px; padding-right:20px; text-decoration:underline;}
.cart_warp{ padding:0 5px 15px 5px;}
.cart_warp h3{ line-height:40px; text-align:center; background-color:#f9f9f9; border-bottom:1px solid #ededed; font-size:14px; font-weight:bold;}
.cart_invalid{ border:1px solid #ccc; margin-top:20px; font-size:12px;}
.cart_invalid .empty_invalid{ display:block; text-decoration:underline; float:right; padding:10px 5px;}
.cart_invalid p{ background-color:#f6f6f6; margin:10px 0; overflow:hidden;}
.cart_invalid p img { float:left; padding-right:10px;filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;}
.cart_invalid p span{ color:#999; display:block;}
.cart_invalid .products_invalid_operation a{text-decoration:underline; padding:10px 5px; color:#3b5998;}
.cart_invalid .cart_invalid_notebook{background:url(../images/icon.png) no-repeat -259px -450px; background-size:400px; width:40px;  display:inline-table; height:30px; text-align:center;} 
.cart_invalid .cart_invalid_notebook.current{background:url(../images/icon.png) no-repeat -259px -415px; background-size:400px; width:40px;  display:inline-table; height:30px; text-align:center;}
.cart_invalid .cart_invalid_tip_msg{background-color:#fefdf3; border:1px solid #dd9c7f; padding:5px; margin:5px; position:relative;}
.cart_invalid .cart_invalid_tip_msg i{background:url(../images/icon.png) no-repeat -312px -263px; background-size:400px; width:25px;  display:block; height:17px; position:absolute;top:-15px; right:40%;}

.order_main .bottom_total ,.order_main .bottom_comments ,.order_main .items_review ,.order_main .order_pay {border:1px solid #ccc;margin-top:20px; margin-bottom:20px;}
.order_main .bottom_total tr,.order_main .bottom_comments tr ,.order_main .items_review tr { vertical-align:text-top;}
.order_main .bottom_total h3 ,.order_main .bottom_comments h3 ,.order_main .items_review h3 ,.order_main .order_pay h3  {line-height:40px; text-align:center; background-color:#f9f9f9; border-bottom:1px solid #ededed; font-size:14px; font-weight:bold;}
.order_main .bottom_total table{ width:100%; padding:0 10px;}
.order_main .bottom_total p{ padding:10px;}
.order_main .bottom_total h4{ font-size:14px; padding: 0 10px 10px 10px;}
.order_main .bottom_total th{ text-align:left; color:#666; width:65%; font-weight:normal; padding-top:8px;}
.order_main .bottom_total .total_pice{ width:35%; text-align:right;padding-top: 8px;}

.order_main .cart_empty{ text-align:center; padding:20px 0;}
.order_main .cart_empty span{ display:block; padding-top:20px;}
.order_main .sitemap{ padding:20px 5px;}
.order_main .sitemap h3{ color:#cf590b; font-size:14px; font-weight:bold; padding:15px 0;}
.order_main .sitemap li{ margin:0 1%; float:left;  width:48%; padding-bottom:8px;}
.order_main .sitemap li a{ display:block; height:36px;}
.order_main .order_warp{ padding:15px 5px;}
.order_main .order_warp h3{ font-size:14px; font-weight:bold;}
.order_main .order_warp h4{ padding-top:5px; font-size:14px;}
.order_main .order_warp h3 span{border-radius:10px; background-color:#999; color:#fff; display:inline-block; text-align:center;
margin-right:10px; width:20px; height:20px; font-size:18px; line-height:20px;}
.order_place {padding:0 10px;}
.order_place .notice_checkbox { padding-top:10px;}
.order_place li {padding-top:15px;}
.order_place li label{ display:block; padding-bottom:8px;}
.order_place li input ,.order_place li select{ height:40px; border:1px solid #ccc; width:100%; }
.order_main  .address{ border:1px solid #ccc; margin-top:15px;}
.order_main  .address li{ position:relative;  border-top:1px dashed #ccc;}
.order_main  .address li:first-child {border-top: none;}
.order_main  .address li p{ padding:10px 60px 10px 40px;}
.order_main  .address li p:active{ background-color:#f7f7f7;}
.order_main  .address li ins{background:url(../images/icon.png) no-repeat -81px -460px; background-size:400px; width:38px;height:24px; display:block; position:absolute; left:0px; }
.order_main  .address li .active{background:url(../images/icon.png) no-repeat -122px -460px; background-size:400px; width:38px;height:24px; display:block; position:absolute; left:0px; }
.order_main  .address li .edit_add  {background:url(../images/icon.png) no-repeat -197px -450px; background-size:400px; width:40px;  display:block; height:40px; 
position:absolute; top:8px; right:5px;} 
.order_main .price_sort h3{padding-bottom:10px; margin-top:15px;}
.order_main  .ship_methods{margin:15px 0;}
.order_main  .ship_methods .weight p{ color:#666;}
.order_main  .ship_methods .weight h4{padding-bottom:10px; font-weight:bold;}
.order_main  .ship_methods .weight table{ width:100%; border-top:1px solid #ccc; border-left:1px solid #ccc; margin:10px 0;}
.order_main  .ship_methods .weight table td{ border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:5px 10px;}
.order_main  .ship_methods select{border:1px solid #ccc; height:40px; width:100%; margin-top:10px; padding:0 10px;}
.order_main .notebook{background:url(../images/icon.png) no-repeat -259px -450px; background-size:400px; width:40px;  display:block; height:40px; 
position:absolute; top:8px; right:5px;} 
.order_main .message p{ padding-top:10px;}
.order_main .message .note_message{ margin-left:15px; font-size:12px; display:block;}
.order_main .message textarea{ width:98%; margin-top:10px; }
.order_main .message table { width:100%;}
.order_main .message table .asterisk{ width:10px;}
.order_main .message table td{vertical-align:top;}
.order_main .confirm_order{ padding-top:10px;}
.order_main .confirm_order li{ border-bottom:1px dashed #ccc; padding:10px 5px;}
.order_main .confirm_order h4{font-weight:bold; padding-bottom:5px;}
.order_main .confirm_order .confirm_title{ overflow:hidden;}
.order_main .confirm_order .confirm_title h4{ width:80%; float:left;}
.order_main .confirm_order p{ padding-bottom:10px;}
.order_main .confirm_order .confirm_title a{ width:20%; float:right; text-align:right; font-size:14px;}
.order_main .items .view_details_up , .order_main .view_details{ width:100%; text-align:center;background-color:#fafafa; height:40px; line-height:38px;display:inline-block; padding:0 20px; font-size:16px;}
.order_main .view_details{font-size:16px;border:1px solid #ccc; margin-top:15px;}
.order_main .view_details ins{ position:relative; top:10px;}
.order_main .items_warp{ padding:15px 0;}
.order_main .items .shopmain , .items_review .shopmain{ border-bottom:none;}
.order_main .items{ border:1px solid #ccc; margin-top:15px;}
.order_main .items .view_details_up{border-bottom:1px solid #ededed;}
.order_main .items .total{ padding:10px 5px; font-size:14px; border-bottom:1px dashed #ccc; margin-bottom:10px;}
.order_main .items_coupon{ padding-top:10px; border-top:1px dashed #ccc}
.order_main .items_coupon{ padding-top:10px; border-top:1px dashed #ccc}
.order_main .items_coupon p { padding:10px 0;}
.order_main .total_tip{ padding:15px 5px 0 5px;}
.order_main .total_tip label{ margin-top:10px; display:inline-block;}
.order_main .total_tip .tip_msg p{ width:98%; background-color:#fefdf3; border:1px solid #dd9c7f; padding:5px; margin-top:5px; position:relative; display:none;}
.order_main .total_tip .tip_msg p ins{background:url(../images/icon.png) no-repeat -312px -263px; background-size:400px; width:25px;  display:block; height:17px; position:absolute;top:-15px; left:30%;}
.order_main .total_tip .tip_msg:hover p{ display:block;}
.order_main .order_error a{ margin: 0 10px;}
.order_main .order_error p{ text-align:center; font-size:14px; font-weight:bold; margin-top:15px;}
.order_main .order_error p ins{background:url(../images/icon.png) no-repeat -365px -375px; background-size:400px; width:30px;height:28px; display:inline-block; margin-right:5px; position:relative; top:5px;}
.no_order{ text-align:center; font-size:18px; color:#666; padding:20px 5px;}
/*下单支付*/
.order_main .payment_top { padding:10px; border-bottom:1px solid #ccc;}
.order_main .payment_top p{ padding-bottom:10px;}
.order_main .payment_wrap{ padding:15px 10px 0 10px;}
.order_main .payment_wrap li{ border-bottom:1px dashed #ccc; padding:10px 0;}
.order_main .payment_wrap li:last-child{border-bottom: none;}
.order_main .payment_wrap ins{ background-image:url(../images/payment.png);  background-size:100px; width:100px; height:24px; display:inline-block; margin-right:10px; float:left;}
.order_main .payment_wrap li h4{ overflow:hidden;font-weight:bold;}
.order_main .payment_wrap li h4 span{ display:block; float:left; word-break:break-all; width:60%;}
.order_main .payment_wrap li .payment_show{ padding:15px 0 10px 0;}
.order_main .payment_wrap li .payment_show p{ padding-bottom:10px;}
.order_main .payment_wrap li table{ width:98%; background-color:#f7f7f7; padding:1%; font-size:12px;}
.order_main .payment_wrap li table tr{ vertical-align:text-top; padding-top:5px;text-align:left; }
.order_main .payment_wrap li table th{font-weight:normal; width:49%; color:#666;}
.order_main .payment_wrap li table td{ width:49%;word-break: break-all;}
.order_main .payment_wrap .paypal{ background-position:0px 0px;}
.order_main .payment_wrap .hsbc{ background-position:0px -52px;}
.order_main .payment_wrap .china_bank{ background-position:0px -103px;}
.order_main .payment_wrap .western{background-position:0px -155px;}
.order_main .payment_wrap .money_gram {background-position:0px -206px;}
.order_main .payment_wrap .note{ font-size:12px; padding:10px 10px 0 10px ; color:#666;}
.order_main .payment_wrap .note b{ color:#333;}
.order_main .payment_wrap li:active{background-color:#f7f7f7;}
.order_main .comllete_error{width:98%; background-color:#fefdf3; border:1px solid #dd9c7f; margin:10px 1% 0 1%; padding:5px; overflow:hidden;}
.order_main .comllete_error ins{ display:inline-block; float:left; background:url(../images/icon.png) no-repeat -365px -375px; background-size:400px; width:30px;height:28px;}
.order_main .comllete_error p{ float:left; width:88%; padding-left:2%; color:#e97867;}
.order_main .payment_top .balance{ border-top:1px dashed #ccc; padding-top:10px;}
.order_main .comllete_warp{padding:5px 5px 20px 5px;}
.order_main .comllete_warp table tr{ vertical-align:text-top;}
.order_main .balance1 p{ padding:10px 0;}
.order_main .balance1 table{ width:100%;}
.order_main .balance1 table td{padding:5px 0;}
.order_main .balance1 table th{ color:#999; text-align:left; font-weight:normal;}
.order_main .bottom_comments table{ width:100%;  padding:0 10px;}
.order_main .bottom_comments table th{ padding:5px 0; color:#999; font-weight:normal; width:30%; text-align:left;}
/*用户中心*/
.account_menu li:active{ background-color:#f9f9f9;}
.account_user{ background-image:url(../images/account_bg.jpg);}
.account_user { text-align:center; padding-bottom:20px;}
.account_user p{ padding-top:5px;}
.account_user img{ width:100px; height:100px; border-radius:50px; margin:10px 0;}
.account_menu .menu_top{ text-align:center;}
.account_menu .menu_top a{ display:inline-block; width:50%; text-align:center; padding:10px 0;}
.account_menu  li{ border-top:1px solid #ededed;}
.account_menu li a{line-height:40px; padding:0 10px; display:inline-block; width:100%;}
.account_menu li ins{ background-image:url(../images/icon.png); background-size:400px; width:24px; height:26px; display:inline-block; position:relative; top:9px; margin-right:5px;}
.account_menu .orders_icon{background-position:-21px -500px ;}
.account_menu .wishlist_icon{background-position:-78px -500px ;}
.account_menu .friends_icon{background-position:-128px -500px ;}
.account_menu .coupon_icon{background-position:-171px -500px ;}
.account_menu .credit_icon{background-position:-215px -500px ;}
.account_menu .setting_icon{background-position:-258px -500px ;}
.account_menu .message_icon{background-position:-255px -526px ;}
.order_main .account_order{ padding:0 5px; font-size:14px;}
.order_main .account_order li{ border-top:1px dashed #ccc; position:relative}
.order_main .account_order li:first-child{ border-top:none;}
.order_main .account_order li a{line-height:40px; padding:0 10px; display:inline-block; width:100%;}
.order_main .account_order li ins{background:url(../images/icon.png) no-repeat  -314px -235px; background-size:400px; width:15px; height:15px; display:inline-block; position:absolute; right:10px; top:12px;}
.order_main .order_wrap{ padding:15px 5px 0 5px; margin-bottom:15px;}
.order_main .order_search{ color:#666; position:relative; border-bottom:dashed 1px #ccc; padding-bottom:15px;}
.order_main .order_search table{ width:100%; padding:10px 5px;}
.order_main .order_search table span{display:inline-block; text-align:center; line-height:40px; width:3%;}
.order_main .order_search .btn_filter{ width:68%; float:right; margin-right:5px; text-align:center;}
.order_main .order_search th{ width:30%; padding:5px; text-align:left; vertical-align:text-top;}
.order_main .order_search td{ width:70%; padding:2px;}
.order_main .order_search td input{ width:100%; border:1px solid #ccc;}
.order_main .order_search td input{line-height:30px;}
.order_main .order_search td ins{background:url(../images/icon.png) no-repeat -311px -159px; background-size:400px; width:25px;height:24px; display:block; position:absolute; top:4px; right:5px;}
.order_main .order_search span{ color:#333;}
.order_main .order_search ins{ background:url(../images/currency.png) 0 -412px; display:inline-block; width:40px; height:40px; background-size:45px;position:absolute; right:10px;top:-1px;}
.order_main .order_details li { overflow:hidden;border-bottom:dashed 1px #ccc;}
.order_main .order_details li table{ float:left; width:80%; text-align:left; padding:10px 0;}
.order_main .order_details li .details_icon{background:url(../images/icon.png) no-repeat  -301px -223px; background-size:400px; width:40px; height:40px; display:inline-block; float:right; vertical-align:middle; 
 position:relative; top:20px; right:5px;}
.order_main .items_review { padding-left:5px; padding-right:5px;}
.order_main .order_details  li th{ width:40%; color:#999; padding:5px 0;}
.order_main .order_details li td{ width:40%;}
.order_main .btn_pay{ padding:0 20px; margin-bottom:15px;}
.order_main .order_details_top{ width:100%; text-align:left;}
.order_main .order_details_top th{ width:40%; padding:5px; color:#999;}
.order_main .items_review .quick_reorder{ padding:15px 0; border-bottom:1px dashed #ccc;}
.order_main .items_review .quick_reorder a{ margin-bottom:10px; display:inline-block;}
.order_main .items_review .btn_quick{ padding:0 30px;}
.order_main .order_pay_note{ background-color:#f7f7f7; margin-right:2%; padding:0 1%; border-top:1px dashed #ccc;}
.order_main .order_pay_note p{ padding-top:10px; color:#666;}
.order_main .order_hsbc{padding:0 10px;}
.order_main .order_hsbc li{ padding:10px 0 0 0; border:none;}
.order_main .order_hsbc .currency_nav .currency ins{background:url(../images/icon.png) no-repeat -311px -159px; background-size:400px; width:25px;height:24px; display:block; position:absolute; top:4px; right:5px;}
.order_main .order_hsbc li label{ display:block; padding-bottom:8px;}
.order_main .order_hsbc li input{ width:100%; line-height:40px; padding:0 10px;}
.order_main .order_pay_note .browse{ padding:0 10px 10px 10px;}
.order_main .order_pay_note .browse span{ color:#333; font-size:14px;}
.order_main .order_pay_note .browse ul { padding-top:10px;}
.order_main .order_pay_note .browse li { border:none; float:left; position:relative; margin-right:5px;}
.order_main .order_pay_note .browse li img{ width:80px; height:80px;}
.order_main .order_pay_note .browse li ins{background:url(../images/icon.png) no-repeat -88px -460px; background-size:400px; width:30px;height:24px; display:block; position:absolute;top:25px; left:30px;}
.order_main .order_pay_note .browse li .active{background:url(../images/icon.png) no-repeat -127px -460px; background-size:400px; width:30px;height:24px; display:block; position:absolute;top:25px; left:30px; z-index:2;}
.order_main .rating { border-top:1px  dashed #ccc; padding-bottom:10px;}
.order_main .rating_read li {padding:0 5px 15px 5px;border-top:1px  dashed #ccc;}
.order_main .rating_read li:first-child { border-top:none;}
.order_main .rating p ,.order_main .rating_read p{ padding-top:10px; }
.order_main .rating input{ line-height:40px; width:98%; margin-top:5px;}
.order_main .rating textarea{width:98%; margin-top:5px;}
/*心愿单*/
.order_main .wishlist li{ border-bottom:1px solid #ccc;padding:5px 5px 15px 5px; overflow:hidden;}
.order_main .wishlist li img{ float:left; width:110px; margin-right:10px;}
.order_main .wishlist li .pro_right{ float:left; margin-left:5px; width:55%;}
.order_main .wishlist li .pro_right_name{height:54px;overflow:hidden;margin-bottom:10px;}
.order_main .wishlist li .pro_right_pice{ float:left; display:block; width:40%; padding-right:10%}
.order_main .wishlist li .pro_right_pice1{float:left; width:50%}
/*coupon*/
.coupon_add{ padding:10px 5px 0 5px;}
.coupon_add table{ width:100%; border-bottom:1px dashed #ccc; padding:15px 0;}
.coupon_add table tr{ vertical-align:text-top; text-align:left;}
.coupon_add table th{ width:38%; color:#999; padding:5px 10px 5px 0;}
.coupon_add .coupon_conditions{ padding:15px 0 10px 0; display:inline-block;}
.coupon_add .coupon_name{ width:100%; border:1px solid #ccc; height:40px; margin:5px 0  15px 0; overflow:hidden;}
.coupon_add .coupon_name input { border:none; line-height:40px; width:90%; float:left;}
.coupon_add .coupon_name a{ width:10%; background-color:#f1f1f1; display:inline-block; line-height:40px; height:40px; float:left; border-left:1px solid #ccc; text-align:center;font-weight:bold;}
.coupon_add .coupon_filter{border:1px solid #ccc;margin-top:15px;position:relative;}
.coupon_add .coupon_filter select {font-size:14px;border:none; padding:0; margin:0;line-height:40px;height:40px; width:100%; }
.coupon_add .coupon_filter ins{background:url(../images/icon.png) no-repeat -311px -162px; background-size:400px; width:25px;height:24px; display:block; position:absolute; top:8px; right:5px;}
.coupon_add .coupon_note{ border-bottom:1px solid #f7f7f7; color:#666;}
.coupon_add .coupon_note p{ padding-bottom:10px;}
.other_currency{ padding-top:10px;}
.other_currency input{  background-color:#FFF; border:1px solid #ccc;}

.order_main .shopping_cart_empty{max-width:640px;margin:auto;text-align: center;padding: 20px 0;}
.order_main .shopping_cart_empty .goshop_btn_orange{background-color:#f75100;padding:2px 0;display:block;width:70%;margin:10px auto;color:#fff;line-height: 30px;font-size: 16px;border-radius: 5px;}
.order_main .shopping_cart_empty p{font-size: 14px;margin: 10px auto;line-height: 30px;width: 70%;}
.image_down_arrow{display:inline-block; width:16px; height:18px; background:url(../images/arrow_orange.png) 2px 2px no-repeat; }
.image_up_arrow{display:inline-block; width:16px; height:18px;  background:url(../images/arrow_orange.png)  2px -16px no-repeat; }
.price_sub{ font-size:12px; background:#f7f7f7; padding:5px; border:#eaeaea 1px solid;}
.price_sub td{ text-align:right;}
.price_sub td{ width:80px;}
.price_sub th{ width:240px; text-align:right; color:#333; padding-right:0; font-weight:normal;} 
.price_color{ color:#f75100;}
.cart_discount{ background-color:#fff0e7; border:1px solid #ffe1d3; height:20px; line-height:20px; color:#ff4400; font-size:14px; padding:0 5px; display:block; position:absolute;top:0;}
.with100{ width:35%; display:inline-block;}
.with49{ width:49%;}
.link_text{ text-decoration:underline; font-size:14px; color:#3b5998}
.link_color{ color:#3b5998;}
.cartpro_name a{color:#333;}
.shopping_cart_products_tips{display: block;margin-top: 5px;color: #999;}

/*购物车删除*/
.shopping_cart_bomb{width:100%;position:fixed; top:50%; overflow:hidden;  z-index:99999;display: none;}
.popup_sign_up_wrap{ padding:10px ;}
.popup_sign_up { position:relative;left:5%; top:50%; overflow:hidden; background:#fff; border:1px solid #ccc; width:90%;z-index:999;}
.popup_sign_up_top{ text-align:center; color:#00509d; font-size:18px;padding:20px 10px; line-height:20px; background-image:url(../images/join_topbg.jpg);}
.popup_sign_up h3{ text-align:center; color:#00509d; font-size:18px;padding:20px 10px; line-height:30px; background-image:url(../images/join_topbg.jpg); margin-bottom:20px;}
.popup_sign_up h4{color:#00509d; font-size:18px;padding:20px 10px; line-height:20px; background-image:url(../images/join_topbg.jpg);}
.popup_sign_up form{ margin-bottom:10px; padding:0 10px; position:relative;}
.popup_sign_up input{line-height:36px; padding:0 10px; border:1px solid #ccc; width:100%}
.popup_sign_up .btn_join{ text-align:center;}
.popup_sign_up .sign_bottom{border-top:1px solid #f7f7f7; text-align:center; padding-top:10px; margin-top:15px;}
.popup_cart_de{overflow:hidden; background:#fff; border:1px solid #ccc; width:300px ;z-index:999; background-color:#333333; margin:0 auto; position:relative;}
.popup_cart_de .popup_cart_remove{ padding:35px 9%;}
.popup_cart_de .popup_cart_remove p{ color:#FFF;font-size:14px; padding-bottom:15px;}
.popup_cart_de .popup_cart_remove a{ text-align:center;  margin:0 10px; padding:0 30px;}
.popup_cart_de .popup_cart_addwishlist{ padding:35px 9%;}
.popup_cart_de .popup_cart_addwishlist p{ color:#FFF;font-size:14px; padding-bottom:15px;}
.popup_cart_de .popup_cart_addwishlist a{ text-align:center;  margin:0 10px; padding:0 30px;}
.shopping_cart_bomb .close_White{ background:url(../images/icon.png) no-repeat -348px -250px; background-size:400px; display:block; width:40px; height:40px; float:right;}
.popup_title {text-align:center; font-size:18px; border-bottom:1px solid #ccc; padding:15px 0;}
.btn_grey ,.btn_blue ,.btn_orange {cursor:pointer;font-size:16px; border-radius:5px; }
.btn_orange{ background:#f75100;  color:#FFF;border-radius:5px;height:40px; line-height:40px; display:inline-block;}
.btn_orange span , .btn_update span , .btn_success span{ display:inline-block; line-height:40px;  position:relative; top:-15px} 
.btn_grey {background-color:#fafafa;color:#333;border-radius:5px; height:40px; line-height:38px; border:1px solid #ccc; display:inline-block; padding:0 20px; }
.grey_9{ color:#999;}
.grey_6{ color:#666;}

/**page**/
.page {line-height:50px;width:210px; margin:0 auto; padding:15px 0; height:80px;}
.page span{ height:50px; display:block;font-size:16px; float:left; width:80px; text-align:center;}
.page a{ display:block; width:60px; height:50px; border:1px solid #ccc; float:left;}
.page_rt{ background:url(../images/icon.png) no-repeat -292px -219px;background-size:400px; width:30px; height:50px;}
.page_lt{background:url(../images/icon.png) no-repeat -295px -183px; background-size:400px; width:30px; height:50px;}
.page .page_grey{ background-color:#ededed;}
.pagetille{ font-size:22px;border-bottom:1px solid #ccc; text-align:center; margin:15px 0;}
.pagetille span{ margin:0 auto; background-color:#FFF; padding:0 10px; display:inline-block; position:relative;top:5px;}


.mobileDrawer { width:100%; max-width:640px; position:fixed; z-index:999; bottom:0; color:#FFF; background-color:#454545;}
.mobileDrawer th{ text-align:left; background-color:#e5e5e5; line-height:40px; color:#333; padding:0 10px;}
.mobileDrawer td{ text-align:right; background-color:#f75100; color:#FFF; line-height:40px; font-weight:bold; text-align:center;}
.mobileDrawer td a{ text-align:right; background-color:#f75100; color:#FFF; line-height:40px; font-weight:bold; text-align:center;font-size: 16px;}

.pro_number .pro_number_icon_span{display: block;width: 115px;float: right;margin-bottom:10px;}
.pro_number .cart_decrease_icon{ background:url(../images/icon.png) no-repeat -199px -266px;background-size:400px; width:32px; height:30px;display: block; float: left; border: 1px solid #ccc; border-right: none;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.pro_number .cart_plus_icon{ background:url(../images/icon.png) no-repeat -244px -267px;background-size:400px; width:33px; height:30px;display: block; float: left; border: 1px solid #ccc; border-left: none;border-top-right-radius:5px;border-bottom-right-radius:5px;}