<div class="maincontent">
    <div class="welcomecont">
      <h3 class="welcome-tit">{$smarty.const.TITLE_WELCOME_TO_DORABEADS}</h3>
      <h5>{$smarty.const.CREATE_NOTICE}</h5>
    </div>
    <div class="welcomenext">
      <strong>{$smarty.const.TEXT_NOW_YOU_CAN}</strong>
      <ul class="welcome-list">
        <li><a href="index.php?main_page=account_edit&edit=profile">{$smarty.const.TEXT_UPLOAD_YOUR_PROFILE}</a></li>
        <li><a href="index.php?main_page=address_book">{$smarty.const.TEXT_ADD_SHIP_ADDR}</a></li>
      </ul>
       <strong>{$smarty.const.TEXT_SHOPPING_ON}</strong>
      <ul class="welcome-list">
        <li><a href="index.php?main_page=products_common_list&pn=new">{$smarty.const.TEXT_NEW_ARRIVALS}</a></li>
        <li><a href="index.php?main_page=products_common_list&pn=feature">{$smarty.const.TEXT_FEATURED_PRODUCTS}</a></li>
      </ul>
    </div>
</div>