<div class="order_main">
    <div class="payment_top">
        <p>{$message.order_succ}</p>
        <p>{$message.order_number} <a href="{$message.success_order_details}" class="link_text">{$message.order_number_created}</a></p>
        <div class="balance">
            <p> {$message.payment_total_amount}: <b class="price_color">{$order_total}</b></p>
            {if $message.payment_show_balance_html_or_not}
                <p>Total credit account balance:<span class="price_color"> {$message.payment_total_balance_old}</span>.</p>
                <p>Use <span class="price_color">{$message.payment_pay_for_this_order_show}</span> for this order.</p>
                <p><b>Need to Pay:<span class="price_color"> {$message.payment_need_to_pay}</span></b></p>
            {/if}
        </div>
    </div>
    {if $message.checkout_payment_size > 0}
    <div class="comllete_error"><ins></ins>
      <p>{$message.checkout_payment}</p>
    </div>
    {/if}
    <div id="errorMessage" style="font-size:14px;line-height:20px;padding-bottom:10px;color:#C00;"></div>
    <div class="payment_wrap">
        <p class="payment_title">{$message.payment_methods}:</p>
        <ul class="jq_show_payment_li">
            <!-- paypal -->
            <li>
                <form name="checkout_payment" action="{$message.payment_submit}" method="post">
                    <input type="hidden" name="paypal_url" value="{$message.payment_pal_submit_url}"/>
                    <input name="payment" type="hidden" id="paypalwpp" value="paypalwpp"/>
                    <h4 class="payment_meta"><ins class="paypal" ></ins><span>{$smarty.const.TEXT_PAYPAL}</span></h4>
                    <div class="payment_show" {if $message.payment_module_code == 'paypalwpp'}style="display: block;"{/if}>
                        <p class="grey_6">-{$message.payment_paypal_clicking}</p>
                        <p class="grey_6">-{$message.payment_paypal_directly}</p>
                        <button class="btn_blue btn_with230" type="submit">{$message.payment_pay_now}</button>
                    </div>
                </form>
            </li>
            <!-- braintree -->
            <li>
                <form name="checkout_payment" action="{$message.payment_submit}" method="post">
                    <input name="payment" type="hidden" id="braintree" value="braintree"/>
                    <h4 class="payment_meta"><ins class="braintree"></ins><span>{$smarty.const.TEXT_BRAINTREE}</span></h4>
                    <div class="payment_show" {if $message.payment_module_code == 'braintree' || $message.payment_module_code == 'braintree-credit'}style="display: block;"{/if}>
                        <iframe id="braintree_iframe" scrolling="auto" width="100%" frameborder=0 src="{$smarty.const.HTTP_SERVER}/index.php?main_page=checkout_braintree&order_id={$message.order_number_created}&go={$smarty.const.FILENAME_CHECKOUT_SUCCESS}&action=credit" style="height:266px;"></iframe>
                    </div>
                </form>
            </li>

            <li>
                <form name="checkout_payment" action="{$message.payment_submit}" method="post">
                    <input name="payment" type="hidden" id="braintree-google" value="braintree-google"/>
                    <h4 class="payment_meta"><ins class="braintree-google"></ins><span><strong>Google Pay</strong></span></h4>
                    <div class="payment_show" {if $message.payment_module_code == 'braintree-google'}style="display: block;"{/if}>
                    <iframe id="braintree_iframe" scrolling="auto" width="100%" frameborder=0 src="{$smarty.const.HTTP_SERVER}/index.php?main_page=checkout_braintree&order_id={$message.order_number_created}&go={$smarty.const.FILENAME_CHECKOUT_SUCCESS}&action=google" style="height:266px;"></iframe>
                    </div>
                </form>
            </li>

            <li>
                <form name="checkout_payment" action="{$message.payment_submit}" method="post">
                    <input name="payment" type="hidden" id="braintree-apple" value="braintree-apple"/>
                    <h4 class="payment_meta"><ins class="braintree-apple"></ins><span><strong>Apple Pay</strong></span></h4>
                    <div class="payment_show" {if $message.payment_module_code == 'braintree-apple'}style="display: block;"{/if}>
                    <iframe id="braintree_iframe" scrolling="auto" width="100%" frameborder=0 src="{$smarty.const.HTTP_SERVER}/index.php?main_page=checkout_braintree&order_id={$message.order_number_created}&go={$smarty.const.FILENAME_CHECKOUT_SUCCESS}&action=apple" style="height:266px;"></iframe>
                    </div>
                </form>
            </li>
            <!-- HSBC -->
            {if $message.order_total_no_currency_left >= $message.order_total_wire_min }
            <li>
                <form name="checkout_payment" action="{$message.payment_submit}" method="post">
                    <input name="payment" type="hidden" id="wire" value="wire"/>
                    <h4 class="payment_meta"><ins class="hsbc"></ins><span>{$smarty.const.TEXT_BANK_ACCOUNT_HSBC}</span></h4>
                    <div class="payment_show" {if $message.payment_module_code == 'wire'}style="display: block;"{/if}> 
                        <table>
                            <tr><td colspan="2"> <p><strong>{$message.payment_bank_hsbc}:</strong></p></td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WIRE_TEXT_BENEFICIARY_BANK} </th><td>{$smarty.const.MODULE_PAYMENT_WIRE_BENEFICIARY_BANK}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WIRE_TEXT_SWIFT_CODE} </th><td>{$smarty.const.MODULE_PAYMENT_WIRE_SWIFT_CODE}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WIRE_TEXT_BANK_ADDRESS}</th><td >{$smarty.const.MODULE_PAYMENT_WIRE_BANK_ADDRESS}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WIRE_TEXT_ACCOUNT_NO}</th><td>{$smarty.const.MODULE_PAYMENT_WIRE_ACCOUNT_NO_NEW}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WIRE_TEXT_BENEFICIARY}</th><td >{$smarty.const.MODULE_PAYMENT_WIRE_BENEFICIARY}</td></tr>
                        </table>
                        <button class="btn_blue btn_with230" type="submit">{$message.payment_button_submit}</button>
                        <div class="note">
                            <b>{$message.account_payment_note}:</b>
                            {$message.account_payment_hsbs_china}
                        </div>
                    </div>
                </form>
            </li>
            <!-- Bank of China -->
            <li>
                <form name="checkout_payment" action="{$message.payment_submit}" method="post">
                    <input name="payment" type="hidden" id="wirebc" value="wirebc"/>
                    <h4 class="payment_meta"><ins class="china_bank"></ins><span>{$smarty.const.TEXT_BANK_ACCOUNT_BC}</span></h4>
                    <div class="payment_show" {if $message.payment_module_code == 'wirebc'}style="display: block;"{/if}> 
                        <table>
                            <tr><td colspan="2"><p><strong>{$message.payment_bank_china}:</strong></p></td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WIREBC_TEXT_BENEFICIARY_BANK} </th><td>{$smarty.const.MODULE_PAYMENT_WIREBC_BENEFICIARY_BANK}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WIREBC_TEXT_CONFIG_7_1} </th><td>{$smarty.const.MODULE_PAYMENT_WIREBC_SWIFT_CODE}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WIREBC_TEXT_HOLDER_NAME}</th><td >{$smarty.const.MODULE_PAYMENT_WIREBC_HOLDER_NAME}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WIREBC_TEXT_ACCOUNT_NUMBER}</th><td>{$smarty.const.MODULE_PAYMENT_WIREBC_ACCOUNT_NUMBER}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WIREBC_TEXT_BANK_ADDRESS}</th><td >{$smarty.const.MODULE_PAYMENT_WIREBC_BANK_ADDRESS}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WIREBC_TEXT_HOLDER_PHONE} </th><td >{$smarty.const.MODULE_PAYMENT_WIREBC_HOLDER_PHONE}</td></tr>
                        </table>
                        <button class="btn_blue btn_with230" type="submit">{$message.payment_button_submit}</button>
                        <div class="note">
                            <b>{$message.account_payment_note}:</b>
                            {$message.account_payment_hsbs_china}
                        </div>
                    </div>
                </form>
            </li>
            {/if}
            <!-- westernunion -->
            <li>
                <form name="checkout_payment" action="{$message.payment_submit}" method="post">
                    <input name="payment" type="hidden" id="westernunion" value="westernunion"/>
                    <h4 class="payment_meta"><ins class="western"></ins><span>{$smarty.const.TEXT_WESTERN_UNION}</span></h4>
                    <div class="payment_show" {if $message.payment_module_code == 'westernunion'}style="display: block;"{/if}> 
                        <table>
                            <tr><td colspan="2"><p><strong>{$message.payment_bank_western_union}:</strong></p></td></tr>
                            <tr><td>{$smarty.const.MODULE_PAYMENT_WESTERNUNION_ENTRY_FIRST_NAME} </th><td>{$smarty.const.MODULE_PAYMENT_WESTERNUNION_RECEIVER_FIRST_NAME}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WESTERNUNION_ENTRY_LAST_NAME} </th><td>{$smarty.const.MODULE_PAYMENT_WESTERNUNION_RECEIVER_LAST_NAME}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WESTERNUNION_ENTRY_ADDRESS}</th><td >{$smarty.const.MODULE_PAYMENT_WESTERNUNION_RECEIVER_ADDRESS}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WESTERNUNION_ENTRY_ZIP}</th><td>{$smarty.const.MODULE_PAYMENT_WESTERNUNION_RECEIVER_ZIP}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WESTERNUNION_ENTRY_CITY}</th><td >{$smarty.const.MODULE_PAYMENT_WESTERNUNION_RECEIVER_CITY}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WESTERNUNION_ENTRY_COUNTRY}</th><td >{$smarty.const.MODULE_PAYMENT_WESTERNUNION_RECEIVER_COUNTRY}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_WESTERNUNION_ENTRY_PHONE}</th><td >{$smarty.const.MODULE_PAYMENT_WESTERNUNION_RECEIVER_PHONE}</td></tr>
                        </table>
                        <button class="btn_blue btn_with230" type="submit">{$message.payment_button_submit}</button>
                        <div class="note">
                            <b>{$message.account_payment_note}:</b>
                            {$message.account_payment_wumt}
                        </div>
                    </div>
                </form>
            </li>
            <!-- moneygram -->
            <li>
                <form name="checkout_payment" action="{$message.payment_submit}" method="post">
                    <input name="payment" type="hidden" id="moneygram" value="moneygram"/>
                    <h4 class="payment_meta"><ins class="money_gram"></ins><span>{$smarty.const.TEXT_MONEY_GRAM_INFO}</span></h4>
                    <div class="payment_show" {if $message.payment_module_code == 'moneygram'}style="display: block;"{/if}> 
                        <table>
                            <tr><td colspan="2"> <p>{$smarty.const.MODULE_PAYMENT_MONEYGRAM_TEXT_HEAD}:</p></td></tr>
                            <tr><td>{$smarty.const.MODULE_PAYMENT_MONEYGRAM_ENTRY_FIRST_NAME} </th><td width="58%">{$smarty.const.MODULE_PAYMENT_MONEYGRAM_RECEIVER_FIRST_NAME}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_MONEYGRAM_ENTRY_LAST_NAME} </th><td>{$smarty.const.MODULE_PAYMENT_MONEYGRAM_RECEIVER_LAST_NAME}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_MONEYGRAM_ENTRY_ADDRESS}</th><td >{$smarty.const.MODULE_PAYMENT_MONEYGRAM_RECEIVER_ADDRESS}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_MONEYGRAM_ENTRY_ZIP}</th><td>{$smarty.const.MODULE_PAYMENT_MONEYGRAM_RECEIVER_ZIP}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_MONEYGRAM_ENTRY_CITY}</th><td >{$smarty.const.MODULE_PAYMENT_MONEYGRAM_RECEIVER_CITY}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_MONEYGRAM_ENTRY_COUNTRY} </th><td >{$smarty.const.MODULE_PAYMENT_MONEYGRAM_RECEIVER_COUNTRY}</td></tr>
                            <tr><th>{$smarty.const.MODULE_PAYMENT_MONEYGRAM_ENTRY_PHONE} </th><td >{$smarty.const.MODULE_PAYMENT_MONEYGRAM_RECEIVER_PHONE}</td></tr>
                        </table>
                        <button class="btn_blue btn_with230" type="submit">{$message.payment_button_submit}</button>
                        <div class="note">
                            <b>{$message.account_payment_note}:</b>
                            <p>1.&nbsp;{$message.account_payment_money_gram}</p>
                                {$message.account_payment_money_gram_2}
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>

<!-- <div class="maincontent">
    <div class="completecont">
      <h3 class="payment-tit">{$message.order_succ}<br/><p><br/>{$message.order_number} <ins><a href="{$message.success_order_details}">{$message.order_number_created}</a></ins> </p></h3>
      <p class="kindlytips">{$smarty.const.TEXT_PAYMENT_CHECK_ADDRESS}</p>    
      <p id="errorMessage" style="color:red;"></p>
   <h3 class="h3tit">{$message.payment_methods}</h3>
<div class="Payment-methods">
{if $order_totals_arr.ot_cash_account.value > 0 && $order_totals_arr.ot_total.value == 0}
 <h3>{$message.payment_total_amount} <span>{$order_total}</span></h3>
  {else}
    <h3>{$message.payment_total_amount} <span>{$message.payment_order_total}</span></h3>
 {/if}
  {if $order_totals_arr.ot_cash_account.value > 0 && $order_totals_arr.ot_total.value == 0}
    <form name="checkout_payment" action="{$message.payment_submit_succ}" method="post">
    {else}
    <form name="checkout_payment" action="{$message.payment_submit}" method="post">
    {/if}
    {if $order_totals_arr.ot_cash_account.value > 0 && $order_totals_arr.ot_total.value == 0}
 <p class="creditcont">
     {$message.payment_credit_account_blance}:{$message.payment_total_balance_old}
     <br/>{$message.payment_pay_for_this_order}
     <br/>{$message.payment_balance_left}
 </p>
 {else}
        {if $order_totals_arr.ot_cash_account.value != 0 && $order_totals_arr.ot_total.value > 0}
        <p class="creditcont">{$message.payment_credit_account_blance}: {$order_totals_arr.ot_cash_account.text} <br/><label>{$message.payment_pay_for_this_order}</label>
        <br>{$message.payment_need_to_pay}</p>
        {/if}
 {/if}
 {if $order_totals_arr.ot_cash_account.value > 0 && $order_totals_arr.ot_total.value == 0}
  <ul class="methodlist">
    <li><label><input name="payment" type="radio" value="balance" checked="checked" /> {$smarty.const.TEXT_CREDIT_ACCOUNT_BALANCE}</label>
    <button class="pay-button">{$message.paid}</button></li>
    </ul> 
 {else}
 <input type="hidden" name="paypal_url" value="{$message.payment_pal_submit_url}"/> 
  <ul class="methodlist">
     <li><label for="paypalwpp"><input name="payment" type="radio" {if $message.payment_module_code == '' || $message.payment_module_code == 'Balance' || $message.payment_module_code == 'paypalwpp' || $message.payment_module_code == 'Credit Balane'}checked="checked"{/if} id="paypalwpp" value="paypalwpp"/><span class="paypal1"></span><span class="paypal">{$smarty.const.TEXT_PAYPAL}</span></label>         
        <div class="submethods" {if $message.payment_module_code == '' || $message.payment_module_code == 'Balance' || $message.payment_module_code == 'paypalwpp'}style="display: block;"{/if}> 
           <p class="paytext">{$message.payment_paypal_clicking}</p>
            <button class="pay-button">{$message.payment_pay_now}</button>
           <p class="paytext">{$message.payment_paypal_directly}</p>
         </div>
     </li>
       <li><label for="braintree"><input name="payment" type="radio" {if $message.payment_module_code == 'braintree'}checked="checked"{/if} id="braintree" value="braintree"/><span class="braintree"></span><span class="paypal">{$smarty.const.TEXT_BRAINTREE}</span></label>         
                      <div class="submethods" {if $message.payment_module_code == 'braintree'}style="display: block;"{/if}> 
                         <iframe id="braintree_iframe" scrolling="auto" width="100%" frameborder=0 src="{$smarty.const.HTTP_SERVER}/index.php?main_page=checkout_braintree&order_id={$message.order_number_created}&go={$smarty.const.FILENAME_CHECKOUT_SUCCESS}" style="height:266px;"></iframe>
                       </div>
                   </li>
     {if $message.order_total_no_currency_left >= $message.order_total_wire_min }
     <li><label for="wire"><input name="payment" {if $message.payment_module_code == 'wire'}checked="checked"{/if} type="radio" id="wire" value="wire"/><span class="hsbc"></span><span class="paypal">{$smarty.const.TEXT_BANK_ACCOUNT_HSBC}</span></label>
               <div class="submethods" {if $message.payment_module_code == 'wire'}style="display: block;"{/if}>
        <p><strong>{$message.payment_bank_hsbc}:</strong></p>
          <div class="credit purplebg">
          <table>
          <tr><td colspan="2"> <p><strong>{$message.payment_bank_hsbc}:</strong></p></td></tr>
               <tr><td width="42%" class="credit-left">{$smarty.const.MODULE_PAYMENT_WIRE_TEXT_BENEFICIARY_BANK} </td><td width="58%">{$smarty.const.MODULE_PAYMENT_WIRE_BENEFICIARY_BANK}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_WIRE_TEXT_SWIFT_CODE} </td><td>{$smarty.const.MODULE_PAYMENT_WIRE_SWIFT_CODE}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_WIRE_TEXT_BANK_ADDRESS}</td><td >{$smarty.const.MODULE_PAYMENT_WIRE_BANK_ADDRESS}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_WIRE_TEXT_ACCOUNT_NO}</td><td>{$smarty.const.MODULE_PAYMENT_WIRE_ACCOUNT_NO}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_WIRE_TEXT_BENEFICIARY}</td><td >{$smarty.const.MODULE_PAYMENT_WIRE_BENEFICIARY}</td></tr>                 
           </table>
           </div>
           <button class="Submit-button">{$message.payment_button_submit}</button>
           <p><b>{$message.account_payment_note}:</b></p>
           {$message.account_payment_hsbs_china}
       </div>
            </li>
     <li><label for="wirebc"><input name="payment" {if $message.payment_module_code == 'wirebc'}checked="checked"{/if} type="radio" id="wirebc" value="wirebc"/><span class="china"></span><span class="paypal">{$smarty.const.TEXT_BANK_ACCOUNT_BC}</span></label>
       <div class="submethods" {if $message.payment_module_code == 'wirebc'}style="display: block;"{/if}>
        <p><strong>{$message.payment_bank_china}:</strong></p>
         <div class="credit purplebg">
          <table>
          <tr><td colspan="2"><p><strong>{$message.payment_bank_china}:</strong></p></td></tr>
               <tr><td width="42%" class="credit-left">{$smarty.const.MODULE_PAYMENT_WIREBC_TEXT_BENEFICIARY_BANK} </td><td width="58%">{$smarty.const.MODULE_PAYMENT_WIREBC_BENEFICIARY_BANK}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_WIREBC_TEXT_CONFIG_7_1} </td><td>{$smarty.const.MODULE_PAYMENT_WIREBC_SWIFT_CODE}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_WIREBC_TEXT_HOLDER_NAME}</td><td >{$smarty.const.MODULE_PAYMENT_WIREBC_HOLDER_NAME}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_WIREBC_TEXT_ACCOUNT_NUMBER}</td><td>{$smarty.const.MODULE_PAYMENT_WIREBC_ACCOUNT_NUMBER}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_WIREBC_TEXT_BANK_ADDRESS}</td><td >{$smarty.const.MODULE_PAYMENT_WIREBC_BANK_ADDRESS}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_WIREBC_TEXT_HOLDER_PHONE} </td><td >{$smarty.const.MODULE_PAYMENT_WIREBC_HOLDER_PHONE}</td></tr>
           </table>
           </div>
           <button class="Submit-button">{$message.payment_button_submit}</button>
           <p><b>{$message.account_payment_note}:</b></p>
           {$message.account_payment_hsbs_china}
       </div>
     </li>
     {/if}
     <li><label for="westernunion"><input name="payment"  {if $message.payment_module_code == 'westernunion'}checked="checked"{/if} type="radio" id="westernunion" value="westernunion"/><span class="westen"></span><span class="paypal">{$smarty.const.TEXT_WESTERN_UNION}</span></label>
             <div class="submethods" {if $message.payment_module_code == 'westernunion'}style="display: block;"{/if}>
        <p><strong>{$message.payment_bank_western_union}:</strong></p>
         <div class="credit purplebg">
          <table>
               <tr><td colspan="2"><p><strong>{$message.payment_bank_western_union}:</strong></p></td></tr>
               <tr><td width="42%" class="credit-left">{$smarty.const.MODULE_PAYMENT_WESTERNUNION_ENTRY_FIRST_NAME} </td><td width="58%">{$smarty.const.MODULE_PAYMENT_WESTERNUNION_RECEIVER_FIRST_NAME}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_WESTERNUNION_ENTRY_LAST_NAME} </td><td>{$smarty.const.MODULE_PAYMENT_WESTERNUNION_RECEIVER_LAST_NAME}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_WESTERNUNION_ENTRY_ADDRESS}</td><td >{$smarty.const.MODULE_PAYMENT_WESTERNUNION_RECEIVER_ADDRESS}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_WESTERNUNION_ENTRY_ZIP}</td><td>{$smarty.const.MODULE_PAYMENT_WESTERNUNION_RECEIVER_ZIP}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_WESTERNUNION_ENTRY_CITY}</td><td >{$smarty.const.MODULE_PAYMENT_WESTERNUNION_RECEIVER_CITY}</td></tr>
                      <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_WESTERNUNION_ENTRY_COUNTRY}</td><td >{$smarty.const.MODULE_PAYMENT_WESTERNUNION_RECEIVER_COUNTRY}</td></tr>
                      <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_WESTERNUNION_ENTRY_PHONE}</td><td >{$smarty.const.MODULE_PAYMENT_WESTERNUNION_RECEIVER_PHONE}</td></tr>
               
           </table>
           </div>
           <button class="Submit-button">{$message.payment_button_submit}</button>
           <p><b>{$message.account_payment_note}:</b></p>
           {$message.account_payment_wumt}
       </div>
            </li>
     <li><label for="moneygram"><input name="payment" {if $message.payment_module_code == 'moneygram'}checked="checked"{/if} type="radio" id="moneygram" value="moneygram"/><span class="money-gram"></span><span class="paypal">{$smarty.const.TEXT_MONEY_GRAM_INFO}</span></label>
               <div class="submethods" {if $message.payment_module_code == 'moneygram'}style="display: block;"{/if}>
         <p>{$smarty.const.MODULE_PAYMENT_MONEYGRAM_TEXT_HEAD}:</p>
         <div class="credit purplebg">
          <table>
          <tr><td colspan="2"> <p>{$smarty.const.MODULE_PAYMENT_MONEYGRAM_TEXT_HEAD}:</p></td></tr>
               <tr><td width="42%" class="credit-left">{$smarty.const.MODULE_PAYMENT_MONEYGRAM_ENTRY_FIRST_NAME} </td><td width="58%">{$smarty.const.MODULE_PAYMENT_MONEYGRAM_RECEIVER_FIRST_NAME}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_MONEYGRAM_ENTRY_LAST_NAME} </td><td>{$smarty.const.MODULE_PAYMENT_MONEYGRAM_RECEIVER_LAST_NAME}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_MONEYGRAM_ENTRY_ADDRESS}</td><td >{$smarty.const.MODULE_PAYMENT_MONEYGRAM_RECEIVER_ADDRESS}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_MONEYGRAM_ENTRY_ZIP}</td><td>{$smarty.const.MODULE_PAYMENT_MONEYGRAM_RECEIVER_ZIP}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_MONEYGRAM_ENTRY_CITY}</td><td >{$smarty.const.MODULE_PAYMENT_MONEYGRAM_RECEIVER_CITY}</td></tr>
               <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_MONEYGRAM_ENTRY_COUNTRY} </td><td >{$smarty.const.MODULE_PAYMENT_MONEYGRAM_RECEIVER_COUNTRY}</td></tr>
                      <tr><td class="credit-left">{$smarty.const.MODULE_PAYMENT_MONEYGRAM_ENTRY_PHONE} </td><td >{$smarty.const.MODULE_PAYMENT_MONEYGRAM_RECEIVER_PHONE}</td></tr>
           </table>
           </div>
           <button class="Submit-button">{$message.payment_button_submit}</button>
           <p><b>{$message.account_payment_note}:</b></p>
          <p>1.&nbsp;{$message.account_payment_money_gram}</p>
             {$message.account_payment_money_gram_2}
       </div>
            </li>
  </ul>
    {/if}
    </form>
</div>
{if $message.checkout_payment_size > 0}
    <dl class="accountpay_tips">
       <dd><ins></ins></dd>
       <dt><p>{$message.checkout_payment}</p>
       </dt>
      <div class="clear"></div>
    </dl>
{/if}
<div class="methods"><a href="" class="back-button">{$smarty.const.TEXT_BACK}</a></div>

    </div>  
</div> -->
