<div class="order_main">
    <div class="comllete_warp">
        <div class="balance1">
            <p>{$message.success_successfully}</p>
						<h2 style="font-weight: bold;color: #ff0000;">{$smarty.const.TEXT_PAY_SUCCESS_TIP_TiTLE}</h2>
            <p>{$smarty.const.TEXT_PAY_SUCCESS_TIP}</p>
						<table>
                <tr>
                    {if $message.success_order_status == 2}                
                    <td class="price_color">{$message.success_you_ve_made_payment}:</td><td class="price_color">{$message.success_order_total_text}</td>
                    {elseif $message.success_order_status == 42}
                    <td class="price_color" colspan="2">{$message.success_payment_under_checking}</td>
                    {else}
                    <td class="price_color" colspan="2">{$message.success_unpaid}</td>
                    {/if}
                </tr>
				{if $order->info.shipping_restriction_total > 0 && ($message.success_order_status == 2 || $message.success_order_status == 3 || $message.success_order_status == 4 || $message.success_order_status == 10)}
				<tr><td colspan="2" style="color:red;">{$smarty.const.TEXT_SHIPPING_RESTRICTION_IMPORTANT_NOTE}</td></tr>
				{/if}

                <tr><th>{$message.success_payment_method}</td><td>{$message.success_payment_method_text}</td></tr>
                <tr><th>{$smarty.const.TABLE_HEADING_STATUS_DATE}:</th><td>{$message.success_date}</td></tr>
                <tr><th>{$message.success_order_number} </th><td><a class="link_text" href="{$message.success_order_details}">{$message.success_orders_id}</a></td></tr>
            </table>
            <a class="btn_blue btn_with230 margin_top_10" href="{$message.success_order_details}">{$smarty.const.TEXT_VIEW_DETAILS}</a>
			{if $message.success_order_status != 2 && $message.success_order_status != 42}                
                <a class="btn_blue btn_with230 margin_top_10" href="{$message.success_order_details}&continued_order=payment">{$smarty.const.TEXT_MAKE_PAYMENT}</a>
			{/if}
            {if {$message.use_all_balance}}
            <p>{$smarty.const.TEXT_BALANCE_TOTAL}:<span class="price_color"> {$message.balance_total}</span>.</p>
            <p>{$message.balance_use}</p>
            <p>{$smarty.const.TEXT_BALANCE_LEFT}: <span class="price_color">{$message.balance_remain}</span></p>
            {/if}
        </div>
        {if !{$message.use_all_balance}}
        <div class="bottom_total">
            <h3>{$smarty.const.TEXT_ORDER_SUMMARY}</h3>
            <table>{$message.success_order_total}</table>
        </div>
        <div class="bottom_comments">
            <h3>{$smarty.const.TEXT_SHIPPING_INVOECE_COMMENTS}</h3>
            <table>
                <tr><th>{$message.success_shipping_address}:</th><td>{$message.success_order_shipping_address}</td></tr>
                <tr><th>{$message.success_shipping_method}:</th><td>{$message.success_shipping_method_text}</td></tr>
                <tr><th>{$smarty.const.TEXT_ESTSHIPPING_TIME}:</th><td>{$message.shipping_days}</td></tr>
                <tr><th>{$message.success_order_cumments}:</th><td>{$message.order_comments}</td></tr>
            </table>
        </div>
        {/if}
    </div>
</div>
<!-- <div class="maincontent bordert">
    <div class="completecont">
      <h3 class="complete-tit">{$message.success_successfully}</h3>
      <p class="ordernum-time">{$message.success_order_number} <ins><a href="{$message.success_order_details}">{$message.success_orders_id}</a></ins> <span>{$message.success_date}</span></p>  
      <h3 class="h3tit">{$message.success_payment_detailas}</h3> 
      <dl class="paydetail">
        <dt>{$message.success_payment_method}</dt><dd>{$message.success_payment_method_text}</dd>
        {$message.success_order_total}
      </dl>
      <ul class="ordernow">
        <li><a href="{$message.success_order_details}">{$message.success_view_invoice}</a></li><li><a style="color:#008fed;font-weight:bold;font-size:13px;">
                      {if $message.success_order_status == 2}
                      {$message.success_you_ve_made_payment}
                      {elseif $message.success_order_status == 42}
                      {$message.success_payment_under_checking}
                      {else}
                      {$message.success_unpaid}
                      {/if}</a></li>
      </ul>
      <div class="shiporder">
        <p><strong>{$message.success_shipping_method}:</strong>{$message.success_shipping_method_text}</p>
        <p><strong>{$message.success_shipping_address}: </strong>{$message.success_order_shipping_address}</p>
        <p><strong>{$message.success_order_cumments}:</strong>{$message.order_comments} </p>
      </div>
    </div>
    {if $message.checkout_payment_size > 0}
    <dl class="accountpay_tips">
       <dd><ins></ins></dd>
       <dt><p>{$message.checkout_payment}</p>
       </dt>
      <div class="clear"></div>
    </dl>
    {/if}
</div> -->