<div class="order_main">
	<div class="order_place">
  		<form class="addressform" name="addressform" method="post" action="index.php?main_page=address_book&action=update&editing={$edit_arr[0].address_book_id}" onsubmit="return check_addressform(addressform)">
        	<ul>
        		<li>
        			<label><b class="price_color">*</b> {$smarty.const.ENTRY_GENDER}</label>
					<select name="gender" style="width:100%;">
						<option {if $edit_arr[0].entry_gender=='m'}selected{/if} value="m">{$smarty.const.TEXT_MALE}</option>
						<option {if $edit_arr[0].entry_gender=='f'}selected{/if} value="f">{$smarty.const.TEXT_FEMALE}</option>
					</select>
        		</li>
          		<li>
            		<label><b class="price_color">*</b> {$smarty.const.ENTRY_FIRST_NAME}</label>
            		<input type="text" class="firstname required" name="firstname" id="firstname" value="{$edit_arr[0].entry_firstname}"/>
					<span class="warning_color"></span>
          		</li>
          		<li>
            		<label><b class="price_color">*</b> {$smarty.const.ENTRY_LAST_NAME}</label>	            		
					<input type="text" class="lastname required" name="lastname" value="{$edit_arr[0].entry_lastname}"/>
					<span class="warning_color"></span>
          		</li>	          		
          		<li>
            		<label><b class="price_color">*</b>{$smarty.const.ENTRY_ADDRESS_LINE_1}</label>
					<textarea class="addresstext required" name="address1" maxlength="200">{$edit_arr[0].entry_street_address}</textarea>
					<span class="warning_color" id="address1"></span><br/>
					<span class="grey_9">{$smarty.const.TEXT_NOTE}:{$smarty.const.SHIPPING_ADDRESS_NOTE}</span>
          		</li>
          		<li >
            		<label>{$smarty.const.ENTRY_ADDRESS_LINE_2}</label>
					<textarea name="suburb" >{$edit_arr[0].entry_suburb}</textarea>
					<span id="suburb" class="warning_color"></span>
          		</li>
          		<li>
            		<label><b class="price_color">*</b>{$smarty.const.ENTRY_COUNTRY}
            		{$country_select}
            		{literal}
				  	<script type="text/javascript">
						country_select_choose('zone_country_id','addressform');
				  	</script>
				  	{/literal}
         		</li>
          		<li >
            		<label><b class="price_color">*</b>{$smarty.const.ENTRY_PROVINCE}</label>
            		{$obj_infomation}
					<span id="state_error" class="warning_color"></span><br/>
					<span class="grey_9">{$smarty.const.TEXT_NOTE}:{$smarty.const.SHIPPING_ADDRESS_DETAIL_STATE_NEW}</span>
          		</li>
          		<li>
            		<label><b class="price_color">*</b>{$smarty.const.ENTRY_CITY}</label>
					<input type="text" class="citytext required" name="city" value="{$edit_arr[0].entry_city}"/>
					<span class="warning_color"></span>
          		</li>
          		<li>
            		<label><b class="price_color">*</b>{$smarty.const.ENTRY_POST}</label>
					<input type="text" class="posttext required" name="post" value="{$edit_arr[0].entry_postcode}"/>
					<span class="warning_color"></span>
          		</li>
          		<li>
            		<label><b class="price_color">*</b>{$smarty.const.ENTRY_TEL}</label>
					<input type="text" class="telephone required" name="tel" value="{$edit_arr[0].entry_telephone}"/>
					<span id="tell" class="warning_color"></span><br/>
					<span class="grey_9">{$smarty.const.TEXT_NOTE}:{$smarty.const.TEXT_TEL_REQUIRED}</span>
          		</li>
          		<li>
          			<label>{$smarty.const.ENTRY_COMPANY}</label>
          			<input type="text" class="company " name="company" value="{$edit_arr[0].entry_company}"/>
          		</li>
          		<li >
            		<label>{$smarty.const.TEXT_CUSTOM_NO}</label>
       	 			<input type="text" class="tariff required" name="tariff" value="{$edit_arr[0].tariff_number}"/>
       	 			<span class="grey_9">{$smarty.const.TEXT_NOTE}:{$smarty.const.ENTRY_TARIFF_REQUIRED_TEXT}</span>
          		</li>
          		<li >
            		<label>{$smarty.const.ENTRY_EMAIL_ADDRESS}</label>
        			<input type="text" class="backup_email required" name="backup_email" value="{$edit_arr[0].backup_email_address}"/>
        			<span class="grey_9">{$smarty.const.TEXT_NOTE}:{$smarty.const.ENTRY_BACKUP_EMAIL_REQUESTED_TEXT}</span>
          		</li>
    		</ul>
        	<p class="notice_checkbox">
          		<label><input name="primary" type="checkbox" {if $default || ($smarty.session['customer_default_address_id'] == 0)}disabled checked {/if} value="1" />
          		{$smarty.const.SET_AS_DEFAULT_ADDRESS|@ucfirst}</label>
          	</p>
          	<div class="cart_btn">
		  		<button type="submit" class="btn_big btn_ltblue addresscheck">{$smarty.const.TEXT_SAVE}</button>
		  		<a href="index.php?main_page=address_book" class="btn_big btn_grey">{$smarty.const.TEXT_BACK}</a>
		  	</div>
      	</form>
  	</div>  	
</div>
{literal}
<script type="text/javascript">
function update_zone_c(theForm) {
    if (!theForm || !theForm.elements["zone_id"]) return;
    var SelectedCountry = $('#zone_country_id').val();
    var SelectedZone = theForm.elements["zone_id"].value;
    var NumState = theForm.zone_id.options.length;
    while (NumState > 0) {
        NumState = NumState - 1;
        theForm.zone_id.options[NumState] = null;
    }	
    if (SelectedZone != ""){
    	theForm.elements["zone_id"].value = SelectedZone;
    }
}
</script>
{/literal}