{literal}
<style>
    .reset_password .messageStackError{padding: 15px 0;color: #82C138; background-color: #fff;font-size: 18px;}
</style>
{/literal}
<div class="popup">
    <div class="reset_password">
        {if $messageStack->size('link') > 0}
            {$messageStack->output('link')}
        {/if}
        <form name="password_reset_form" class="findpass-form" method="POST" action="index.php?main_page=password_reset&action=process&p={$p}" onsubmit="return check_pwd(this.form)" {$show_input}>
            <p>{$smarty.const.YOUR_ACCOUNT_IS} <a>{$rp_email_address}</a></p>
            <input class="signin_input" type="password" placeholder="{$smarty.const.ENTER_NEW_PWD}" name="new_password" id="new_password" />
            <span class="msg" id="pwd_error"></span>
            <input class="signin_input" type="password" placeholder="{$smarty.const.CONFIRM_ENTER_NEW_PWD}" name="confirm_password" id="confirm_password" />
            <span class="msg" id="confirm_pwd_error"></span>
            <button class="button_join" type="submit">{$smarty.const.TEXT_SUBMIT|@strtoupper}</button>
    </div>
</div>