<div class="popup">
    <div class="register_successfully">
        <span>{$smarty.const.TEXT_WELCOME_TO_JOIN_US}</span>
        <p>{$smarty.const.TEXT_REGISTER_SUCCESSFULLY_TEXT}</p><br/>
        <div class="links">
            <p><a href="{$homepage_href}"> - {$smarty.const.TEXT_WORD_HOMEPAGE} </a></p>
            <p><a href="{$discount_policy_href}"> - {$smarty.const.TEXT_DISCOUNT_POLICY} </a></p>
            <p><a href="{$my_account_href}"> - {$smarty.const.TEXT_MY_ACCOUNT} </a></p>
            <p><a href="{$new_arrivals_href}"> - {$smarty.const.TEXT_NEW_ARRIVALS} </a></p>
        </div>
    </div>
</div>