<div class="order_main">
    {if $messageStack->size('account_password') > 0}
        <div>{$messageStack->output('account_password')}</div>
    {/if}
    <div class="popup_edit_address">
        <form class="addressform" name="account_password" action="index.php?main_page=account_edit&edit=password&action=process" method="post" onsubmit='return change_password(account_password)'>
            <ul class="order_place">
                <li>
                    <label><b class="price_color">*</b> {$smarty.const.ENTRY_CURRENT_PWD}</label>
                    <input name="password_current" type="password" class="currentpass required" maxlength="32" />
                    <span id="password_current_span" class="warning_color"></span>
                </li>
                <li class="form_warp">
                    <label><b class="price_color">*</b> {$smarty.const.ENTRY_NEW_PWD}</label>
                    <input name="password_new" type="password" class="newpass required" maxlength="32" />
                    <span id="password_new_span" class="warning_color"></span>
                </li>
                <li class="form_warp">
                    <label><b class="price_color">*</b> {$smarty.const.ENTRY_CONF_PWD}</label>
                    <input name="password_confirmation" type="password" class="confirmpass required" maxlength="32" />
                    <span id="password_conf_span" class="warning_color"></span>
                </li>
            </ul>
            <div class="cart_btn">
                <button type="submit" id="passwordchange" class="btn_big btn_ltblue">{$smarty.const.TEXT_SAVE}</button>
                <a href="index.php?main_page=myaccount&tag=settings" class="btn_big btn_grey">{$smarty.const.TEXT_BACK}</a>
            </div>
        </form>
    </div>
</div>